<a href="https://colab.research.google.com/github/thinh-vu/vnstock/blob/main/vnstock_demo_index_all_functions_testing_2023_03_25.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# I. Introduction

Ngu·ªìn c·∫•p d·ªØ li·ªáu: 
1. TCBS: https://tcinvest.tcbs.com.vn/tc-price
2. SSI iBoard (FinnTrade cung c·∫•p): https://iboard.ssi.com.vn/

In [2]:
# C√†i ƒë·∫∑t th∆∞ vi·ªán vnstock b·∫£n m·ªõi nh·∫•t t·ª´ source code Github | Install vnstock from Github source
!pip install git+https://github.com/thinh-vu/vnstock.git@beta

# !pip install git+https://github.com/thinh-vu/vnstock.git@main # Install vnstock - the stable version

Collecting git+https://github.com/thinh-vu/vnstock.git@beta
  Cloning https://github.com/thinh-vu/vnstock.git (to revision beta) to c:\users\mrthi\appdata\local\temp\pip-req-build-xa0decgf

WARNING: Ignoring invalid distribution -illow (c:\users\mrthi\appdata\local\packages\pythonsoftwarefoundation.python.3.9_qbz5n2kfra8p0\localcache\local-packages\python39\site-packages)
  ERROR: Error [WinError 2] The system cannot find the file specified while executing command git version
ERROR: Cannot find command 'git' - do you have 'git' installed and in your PATH?

In [ ]:
# C√†i ƒë·∫∑t th∆∞ vi·ªán vnstock t·ª´ Pypi - b·∫£n ·ªïn ƒë·ªãnh (d·ªØ li·ªáu b·ªã xo√° khi k·∫øt th√∫c session) | Install vnstock from Pypi - stable version
# !pip install vnstock # Remove the hashtag sign to uncomment and run this code, disabled by default

In [4]:
from vnstock import * #import all functions

# II. Functions testing

Vi: Thu g·ªçn to√†n b·ªô code ·ªü m·ª•c n√†y, ch·∫°y code m·ªôt l·∫ßn duy nh·∫•t, n·∫øu code ch·∫°y ƒë·∫øn cu·ªëi file th√†nh c√¥ng th√¨ th∆∞ vi·ªán vnstock ho·∫°t ƒë·ªông b√¨nh th∆∞·ªùng trong ƒëa s·ªë tr∆∞·ªùng h·ª£p.

En: `Collapse all the code in this section, run the code only once, if the code runs to the end of the file successfully, then the vnstock library will work normally in most cases`

## 2.1 üì∞ All listing companies

In [5]:
listing_companies()

,ticker,group_code,company_name,company_short_name
0,VVS,UpcomIndex,C√¥ng ty C·ªï ph·∫ßn ƒê·∫ßu t∆∞ Ph√°t tri·ªÉn M√°y Vi·ªát Nam,ƒê·∫ßu t∆∞ Ph√°t tri·ªÉn M√°y Vi·ªát Nam
1,XDC,UpcomIndex,C√¥ng ty TNHH MTV X√¢y d·ª±ng C√¥ng tr√¨nh T√¢n C·∫£ng,X√¢y d·ª±ng C√¥ng tr√¨nh T√¢n C·∫£ng
2,HSV,UpcomIndex,C√¥ng ty C·ªï ph·∫ßn T·∫≠p ƒëo√†n HSV Vi·ªát Nam,Gang Th√©p H√† N·ªôi
3,CST,UpcomIndex,C√¥ng ty C·ªï ph·∫ßn Than Cao S∆°n - TKV,Than Cao S∆°n - TKV
4,BVL,UpcomIndex,C√¥ng ty C·ªï ph·∫ßn BV Land,BV Land
...,...,...,...,...
1620,XMP,UpcomIndex,C√¥ng ty C·ªï ph·∫ßn Th·ªßy ƒëi·ªán Xu√¢n Minh,Th·ªßy ƒëi·ªán Xu√¢n Minh
1621,YBC,UpcomIndex,C√¥ng ty C·ªï ph·∫ßn Xi mƒÉng v√† Kho√°ng s·∫£n Y√™n B√°i,Xi mƒÉng v√† Kho√°ng s·∫£n Y√™n B√°i
1622,YBM,VNINDEX,C√¥ng ty C·ªï ph·∫ßn Kho√°ng s·∫£n C√¥ng nghi·ªáp Y√™n B√°i,Kho√°ng s·∫£n CN Y√™n B√°i
1623,YEG,VNINDEX,C√¥ng ty C·ªï ph·∫ßn T·∫≠p ƒëo√†n Yeah1,T·∫≠p ƒëo√†n Yeah1
1624,YTC,UpcomIndex,C√¥ng ty C·ªï ph·∫ßn Xu·∫•t nh·∫≠p kh·∫©u Y t·∫ø Th√†nh ph·ªë ...,XNK Y t·∫ø TP.HCM

## 2.2. Ticker overview

In [6]:
ticker_overview('TCB')

,exchange,shortName,industryID,industryIDv2,industry,industryEn,establishedYear,noEmployees,noShareholders,foreignPercent,website,stockRating,deltaInWeek,deltaInMonth,deltaInYear,outstandingShare,issueShare,companyType,ticker
0,HOSE,Techcombank,289,8355,Ng√¢n h√†ng,Banks,1993,9757,1901,0.225,http://www.techcombank.com.vn,4.2,-0.009,-0.047,-0.164,3517.2,3517.2,NH,TCB

## 2.3. üìà Historical Data Retrieval

In [7]:
stock_historical_data("GMD", "2021-01-01", "2022-02-25")

        Open     High      Low    Close   Volume TradingDate
0    31393.0  32344.0  31203.0  31488.0  4226500  2021-01-04
1    31488.0  32773.0  31155.0  32154.0  4851900  2021-01-05
2    32535.0  32535.0  31488.0  31774.0  3641300  2021-01-06
3    32059.0  32820.0  30917.0  32344.0  5753700  2021-01-07
4    32725.0  33106.0  31869.0  32249.0  4587500  2021-01-08
..       ...      ...      ...      ...      ...         ...
279  50531.0  51214.0  49946.0  49946.0  1489200  2022-02-21
280  49263.0  51116.0  48287.0  50921.0  3583400  2022-02-22
281  50921.0  51994.0  50628.0  50824.0  2823400  2022-02-23
282  50238.0  51506.0  48970.0  50141.0  2961300  2022-02-24
283  50726.0  51409.0  48970.0  49263.0  2841200  2022-02-25

[284 rows x 6 columns]

## 2.4. üìä Price Table

In [8]:
price_board('TCB,SSI,VND')

,M√£ CP,Gi√° Kh·ªõp L·ªánh,KLBD/TB5D,T.ƒë·ªô GD,KLGD r√≤ng(CM),%KLGD r√≤ng (CM),RSI,MACD Volume,MACD Signal,T√≠n hi·ªáu KT,...,Kh·ªëi l∆∞·ª£ng D∆∞ mua,Kh·ªëi l∆∞·ª£ng D∆∞ b√°n,Kh·ªõp nhi·ªÅu nh·∫•t,seq,vnid3d,vnid1m,vnid3m,vnid1y,vnipe,vnipb
0,TCB,26450.0,0.95,0.75,0,0.0,44.9291,-0.05,Neutral,Neutral,...,169400,40300,26500,1679644740,0.6,-0.7,2.6,-30.3,11.8949,1.5655
1,SSI,20450.0,1.09,1.47,-320900,-18.0,57.1244,0.09,Buy,Buy,...,652000,447200,20500,1679644740,0.6,-0.7,2.6,-30.3,11.8949,1.5655
2,VND,15300.0,1.41,1.45,280000,14.1,57.6888,0.11,Buy,Neutral,...,1101100,1088100,15300,1679644740,0.6,-0.7,2.6,-30.3,11.8949,1.5655

## 2.5. üî• Intraday Trading Data

In [9]:
stock_intraday_data(symbol='GMD', 
                            page_num=0, 
                            page_size=5000)

       price  volume   cp  rcp   a   ba   sa     hl  pcp      time
0    49800.0    6000  0.0  0.0      0.0  0.0   True  0.0  14:45:00
1    49800.0    1400  0.0  0.0  SD  0.0  0.0  False  0.0  14:29:00
2    49800.0     100  0.0  0.0  SD  0.0  0.0  False  0.0  14:29:00
3    49750.0     100  0.0  0.0  SD  0.0  0.0  False  0.0  14:29:00
4    49700.0     400  0.0  0.0  SD  0.0  0.0  False  0.0  14:29:00
..       ...     ...  ...  ...  ..  ...  ...    ...  ...       ...
264  50100.0    8000  0.0  0.0  BU  0.0  0.0   True  0.0  09:15:19
265  50100.0     500  0.0  0.0  BU  0.0  0.0  False  0.0  09:15:17
266  50100.0     900  0.0  0.0  BU  0.0  0.0  False  0.0  09:15:14
267  50100.0    3000  0.0  0.0  BU  0.0  0.0  False  0.0  09:15:10
268  50100.0   32300  0.0  0.0      0.0  0.0   True  0.0  09:15:00

[269 rows x 10 columns]

## 2.6. üí∞Financial Ratio

### 2.6.1. Report from SSI

In [10]:
financial_ratio_compare (symbol_ls=['TCB', 'CTG', 'BID'], industry_comparison='true', frequency= 'Yearly', start_year=2021)

,Ch·ªâ s·ªë,2017,2018,2019,2020,2021,2022
0,P/E,NaN,NaN,NaN,NaN,NaN,NaN
1,BID,1.931659e+01,1.579755e+01,2.156374e+01,2.392118e+01,2.021483e+01,1.226167e+01
2,TCB,1.589460e+01,1.099041e+01,7.712361e+00,1.110489e+01,9.790559e+00,4.625562e+00
3,CTG,1.578063e+01,1.476715e+01,1.015345e+01,1.031625e+01,1.096377e+01,7.787858e+00
4,BID,1.931659e+01,1.579755e+01,2.156374e+01,2.392118e+01,2.021483e+01,1.226167e+01
...,...,...,...,...,...,...,...
171,To√†n ng√†nh,2.272894e+10,2.932384e+10,3.172492e+10,3.927128e+10,5.101939e+10,5.814384e+10
172,NaN,NaN,NaN,NaN,NaN,NaN,NaN
173,NaN,NaN,NaN,NaN,NaN,NaN,NaN
174,D·ªØ li·ªáu ƒë∆∞·ª£c cung c·∫•p b·ªüi FiinTrade,NaN,NaN,NaN,NaN,NaN,NaN
175,https://fiintrade.vn/,NaN,NaN,NaN,NaN,NaN,NaN

### 2.6.2. Report from TCBS

In [11]:
financial_ratio("TCB", 'quarterly', True)

,ticker,quarter,year,priceToEarning,priceToBook,valueBeforeEbitda,dividend,roe,roa,daysReceivable,...,loanOnAsset,loanOnDeposit,depositOnEarnAsset,badDebtOnAsset,liquidityOnLiability,payableOnEquity,cancelDebt,ebitdaOnStockChange,bookValuePerShareChange,creditGrowth
0,TCB,4,2022,4.6,0.8,None,None,0.197,0.032,None,...,0.602,1.173,0.583,0.005,0.347,5.2,0.002,None,0.032,0.211
1,TCB,3,2022,5.4,1.0,None,None,0.216,0.035,None,...,0.612,1.287,0.542,0.004,0.329,5.1,0.002,None,0.052,0.279
2,TCB,2,2022,6.2,1.2,None,None,0.217,0.036,None,...,0.628,1.218,0.571,0.004,0.343,5.0,0.002,None,0.060,0.250
3,TCB,1,2022,9.1,1.8,None,None,0.217,0.036,None,...,0.594,1.112,0.578,0.004,0.404,5.2,0.002,None,0.059,0.234
4,TCB,4,2021,9.7,1.9,None,None,0.217,0.036,None,...,0.611,1.104,0.602,0.004,0.382,5.1,0.004,None,0.053,0.252
5,TCB,3,2021,10.0,2.0,None,None,0.221,0.037,None,...,0.593,1.015,0.634,0.003,0.405,5.1,0.004,None,0.053,0.392
6,TCB,2,2021,11.5,2.2,None,None,0.215,0.036,None,...,0.622,1.084,0.625,0.002,0.370,5.0,0.008,None,0.061,0.353
7,TCB,1,2021,10.0,1.8,None,None,0.200,0.033,None,...,0.640,1.031,0.675,0.002,0.354,4.9,0.012,None,0.060,0.277
8,TCB,4,2020,9.0,1.5,None,None,0.181,0.030,None,...,0.631,1.000,0.680,0.003,0.372,4.9,0.013,None,0.057,0.202
9,TCB,3,2020,7.0,1.1,None,None,0.177,0.030,None,...,0.575,0.913,0.682,0.003,0.440,4.7,0.015,None,0.047,0.124
10,TCB,2,2020,6.3,1.0,None,None,0.176,0.029,None,...,0.585,0.927,0.689,0.005,0.418,4.9,0.010,None,0.044,0.249
11,TCB,1,2020,5.0,0.8,None,None,0.177,0.029,None,...,0.592,0.987,0.650,0.006,0.416,5.1,0.006,None,0.039,0.416
12,TCB,4,2019,8.2,1.3,None,None,0.178,0.029,None,...,0.602,0.998,0.651,0.008,0.411,5.2,0.002,None,0.053,0.443
13,TCB,3,2019,8.8,1.4,None,None,0.172,0.027,None,...,0.559,0.939,0.639,0.010,0.469,5.2,0.003,None,0.046,0.230
14,TCB,2,2019,8.1,1.3,None,None,0.170,0.027,None,...,0.514,0.842,0.650,0.009,0.528,5.4,0.006,None,0.046,0.112
15,TCB,1,2019,10.6,1.7,None,None,0.186,0.028,None,...,0.502,0.788,0.680,0.009,0.547,5.1,0.006,None,0.040,-0.001
16,TCB,4,2018,10.7,1.8,None,None,0.215,0.029,None,...,0.498,0.794,0.676,0.009,0.531,5.2,0.008,None,0.047,-0.006
17,TCB,3,2018,11.7,2.1,None,None,0.254,0.032,None,...,0.535,0.862,0.671,0.011,0.488,5.3,0.013,None,0.043,0.215
18,TCB,2,2018,12.8,2.3,None,None,0.243,0.032,None,...,0.555,0.895,0.663,0.011,0.475,5.3,0.010,None,0.261,0.264
19,TCB,1,2018,NaN,NaN,None,None,0.255,0.029,None,...,0.600,0.904,0.713,0.011,0.409,6.3,0.016,None,0.397,0.190
20,TCB,4,2017,NaN,NaN,None,None,0.277,0.026,None,...,0.597,0.941,0.679,0.010,0.392,9.0,0.021,None,0.386,0.128
21,TCB,3,2017,NaN,NaN,None,None,0.251,0.021,None,...,0.588,0.826,0.775,0.011,0.383,11.0,0.022,None,-0.107,0.013
22,TCB,2,2017,NaN,NaN,None,None,0.208,0.018,None,...,0.568,0.766,0.801,0.012,0.416,9.7,0.025,None,0.053,0.032
23,TCB,1,2017,NaN,NaN,None,None,0.201,0.018,None,...,0.592,0.771,0.818,0.011,0.395,10.3,0.024,None,0.052,0.208
24,TCB,4,2016,NaN,NaN,None,None,0.177,0.015,None,...,0.606,0.822,0.787,0.010,0.377,11.0,0.026,None,0.047,0.278
25,TCB,3,2016,NaN,NaN,None,None,0.153,0.013,None,...,0.609,0.829,0.791,0.011,0.366,10.9,0.029,None,0.057,0.444
26,TCB,2,2016,NaN,NaN,None,None,0.122,0.011,None,...,0.601,0.851,0.760,0.011,0.376,11.0,0.033,None,0.046,0.405
27,TCB,1,2016,NaN,NaN,None,None,0.108,0.009,None,...,0.573,0.766,0.809,0.012,0.403,10.7,0.036,None,0.026,0.285
28,TCB,4,2015,NaN,NaN,None,None,0.100,0.009,None,...,0.581,0.785,0.813,0.010,0.380,10.6,0.036,None,0.023,0.390
29,TCB,3,2015,NaN,NaN,None,None,0.090,0.008,None,...,0.536,0.687,0.864,0.012,0.426,9.8,0.039,None,0.026,0.314
30,TCB,2,2015,NaN,NaN,None,None,0.075,0.007,None,...,0.526,0.705,0.824,0.013,0.438,10.0,0.047,None,0.030,0.228
31,TCB,1,2015,NaN,NaN,None,None,0.059,0.005,None,...,0.495,0.699,0.786,0.013,0.463,10.7,0.047,None,0.020,0.235
32,TCB,4,2014,NaN,NaN,None,None,0.075,0.006,None,...,0.457,0.611,0.835,0.011,0.501,10.7,0.033,None,0.012,0.143
33,TCB,3,2014,NaN,NaN,None,None,0.070,0.006,None,...,0.419,0.587,0.803,0.012,0.531,10.5,0.038,None,0.011,0.022
34,TCB,2,2014,NaN,NaN,None,None,0.063,0.005,None,...,0.433,0.593,0.826,0.018,0.513,10.7,0.020,None,0.015,0.060
35,TCB,1,2014,NaN,NaN,None,None,0.055,0.005,None,...,0.438,0.579,0.867,0.020,0.499,10.4,0.019,None,0.038,0.050
36,TCB,4,2013,NaN,NaN,None,None,0.047,0.004,None,...,0.442,0.586,0.869,0.016,0.493,10.4,0.020,None,0.005,0.029
37,TCB,3,2013,NaN,NaN,None,None,-0.047,-0.004,None,...,0.422,0.597,0.817,0.025,0.509,11.0,0.022,None,0.005,0.141

## 2.7. Stock comparison

### 2.7.1. üè≠ Industry Analysis

In [12]:
industry_analysis("VNM")

,ticker,marcap,price,numberOfDays,priceToEarning,peg,priceToBook,valueBeforeEbitda,dividend,roe,...,debtOnEquity,debtOnEbitda,income5year,sale5year,income1quarter,sale1quarter,nextIncome,nextSale,rsi,rs
0,VNM,156747,75000,-1,18.4,-1.0,5.3,14.0,0.039,0.271,...,0.2,0.6,-0.037,0.033,-0.187,-0.063,0.159,0.010,44.4,57.0
1,MSN,111051,78000,-2,31.1,-0.5,4.2,19.4,0.010,0.121,...,1.9,7.1,0.028,0.152,-0.177,0.057,0.285,0.200,35.5,16.0
2,MCH,47083,65708,-2,8.6,52.3,2.1,7.8,0.000,0.284,...,0.3,1.2,0.207,0.153,0.318,0.139,0.260,0.300,24.4,18.0
3,KDC,15279,59400,5,43.5,-1.1,2.2,27.2,0.094,0.052,...,0.7,7.0,-0.047,0.123,-0.426,-0.086,-0.202,0.283,62.3,72.0
4,IDP,14082,238900,0,17.4,-11.8,7.8,13.4,0.006,0.518,...,0.4,0.6,NaN,NaN,-0.139,0.025,0.020,0.120,73.5,98.0
5,QNS,13624,38168,-1,10.6,3.1,1.8,8.0,0.000,0.177,...,0.3,1.1,0.046,0.016,0.348,-0.153,0.061,0.090,48.3,52.0
6,MML,10955,33489,3,-75.4,0.7,2.0,-131.5,0.000,-0.027,...,1.0,-43.3,NaN,-0.239,NaN,0.203,-0.719,-0.700,57.9,51.0
7,SBT,9728,14450,0,13.0,-3.7,1.1,11.3,0.000,0.084,...,1.1,6.4,0.120,0.220,-0.542,0.313,0.128,0.200,49.2,48.0
8,MCM,4078,37073,0,11.8,1.4,1.8,11.3,0.000,0.158,...,0.0,0.1,0.098,0.049,-0.264,-0.054,0.040,0.050,45.5,48.0
9,PAN,3415,16350,4,9.4,0.4,0.8,5.4,0.000,0.084,...,0.7,3.0,-0.005,0.274,1.362,0.090,-0.029,0.050,52.8,59.0
10,VSF,3250,6500,1,-368.8,3.8,1.4,19.5,0.000,-0.004,...,1.0,7.8,NaN,-0.053,NaN,0.773,-0.939,0.030,52.0,65.0
11,VOC,2855,23436,1,-62.6,0.4,2.1,-16.4,0.000,-0.032,...,0.4,-1.9,NaN,-0.181,NaN,0.327,0.116,0.150,50.8,80.0
12,VSN,1877,23200,0,13.6,-1.9,1.5,9.3,0.000,0.110,...,0.0,1.1,0.012,-0.002,0.289,0.095,-0.034,0.100,41.8,46.0
13,OCH,1480,8000,1,-28.4,0.0,1.4,534.3,0.000,-0.041,...,0.1,53.4,NaN,-0.018,NaN,0.064,6.025,-0.500,49.6,46.0
14,CLX,1085,12533,1,6.0,0.7,0.7,8.8,0.000,0.122,...,0.0,0.4,0.065,0.088,-0.068,-0.075,0.090,0.300,45.5,48.0
15,LSS,518,6950,0,13.5,0.8,0.3,3.8,0.000,0.024,...,0.3,2.0,-0.100,-0.008,NaN,0.214,-0.155,-0.080,43.1,60.0
16,KTC,357,9800,0,22.0,-0.8,0.9,15.9,0.000,0.040,...,1.8,11.6,-0.169,0.067,NaN,0.158,0.813,-0.060,66.3,52.0
17,HSL,190,5360,-1,12.8,-3.1,0.4,9.9,0.000,0.043,...,0.0,1.4,-0.086,0.160,0.733,0.037,0.022,0.020,54.3,NaN
18,HKB,31,600,0,-0.5,-1.1,0.2,-2.7,0.000,-0.251,...,0.4,-2.0,NaN,-0.474,NaN,0.170,NaN,NaN,16.2,70.0

### 2.7.2. üî¨ Stocks List Analysis

In [13]:
stock_ls_analysis("TCB, BID, CEO, GMD")

,ticker,marcap,price,numberOfDays,priceToEarning,peg,priceToBook,dividend,roe,roa,debtOnEquity,income5year,sale5year,income1quarter,sale1quarter,nextIncome,nextSale,rsi,rs
0,BID,230416,45550,-2,12.7,0.2,2.2,0.0,0.199,0.009,19.3,0.218,0.123,-0.207,0.007,-0.023,0.124,49.8,70.0
1,CEO,5584,21700,0,20.1,0.1,1.7,0.0,0.089,0.039,0.3,0.094,0.068,5.767,3.483,-0.235,0.300,56.1,60.0
2,GMD,15009,49800,-1,15.1,0.2,2.2,0.0,0.150,0.083,0.3,0.144,-0.003,-0.226,0.075,0.128,0.070,45.9,48.0
3,TCB,93031,26450,1,4.6,0.4,0.8,0.0,0.197,0.032,5.2,0.256,0.200,-0.331,-0.088,0.296,0.228,44.9,33.0

### 2.7.3. üè¢ Company Overview

In [14]:
company_overview('TCB')

,exchange,shortName,industryID,industryIDv2,industry,industryEn,establishedYear,noEmployees,noShareholders,foreignPercent,website,stockRating,deltaInWeek,deltaInMonth,deltaInYear,outstandingShare,issueShare,companyType,ticker
0,HOSE,Techcombank,289,8355,Ng√¢n h√†ng,Banks,1993,9757,1901,0.225,http://www.techcombank.com.vn,4.2,-0.009,-0.047,-0.164,3517.2,3517.2,NH,TCB

### 2.7.4. üíµ Income Statement, Balance Sheet & Cashflow report

#### 2.7.4.1. Report from SSI

In [15]:
financial_report (symbol='SSI', report_type='BalanceSheet', frequency='Quarterly')

,CH·ªà TI√äU,Q3 2020,Q4 2020,Q1 2021,Q2 2021,Q3 2021,Q4 2021,Q1 2022,Q2 2022,Q3 2022,Q4 2022
0,T·ªîNG C·ªòNG T√ÄI S·∫¢N,2.693295e+13,3.576953e+13,3.762330e+13,4.190985e+13,4.760360e+13,5.079306e+13,5.008142e+13,4.327169e+13,4.543636e+13,5.222638e+13
1,T√ÄI S·∫¢N NG·∫ÆN H·∫†N,2.105024e+13,2.904003e+13,3.286192e+13,3.767755e+13,4.131681e+13,4.653960e+13,4.551116e+13,3.884201e+13,4.202427e+13,4.873192e+13
2,T√†i s·∫£n t√†i ch√≠nh ng·∫Øn h·∫°n,2.100282e+13,2.888881e+13,3.280760e+13,3.761463e+13,4.123722e+13,4.646427e+13,4.539117e+13,3.869564e+13,4.187383e+13,4.862188e+13
3,Ti·ªÅn v√† t∆∞∆°ng ƒë∆∞∆°ng ti·ªÅn,2.123246e+11,3.632519e+11,2.792879e+11,2.433256e+11,2.898345e+11,1.114235e+12,8.049188e+11,2.384802e+11,6.156385e+11,1.417807e+12
4,Ti·ªÅn,2.123246e+11,2.319712e+11,2.251205e+11,1.942694e+11,2.678036e+11,4.741978e+11,6.067411e+11,1.703772e+11,5.175204e+11,9.072095e+11
...,...,...,...,...,...,...,...,...,...,...,...
155,V·ªën ng√¢n s√°ch nh√† n∆∞·ªõc,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
156,Ngu·ªìn kinh ph√≠ ƒë√£ h√¨nh th√†nh TSCƒê,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
157,L·ª¢I √çCH C·ª¶A C·ªî ƒê√îNG THI·ªÇU S·ªê (tr∆∞·ªõc 2015),0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
158,T·ªîNG C·ªòNG NGU·ªíN V·ªêN,2.693295e+13,3.576953e+13,3.762330e+13,4.190985e+13,4.760360e+13,5.079306e+13,5.008142e+13,4.327169e+13,4.543636e+13,5.222638e+13
159,L·ª¢I NHU·∫¨N ƒê√É PH√ÇN PH·ªêI CHO NH√Ä ƒê·∫¶U T∆Ø,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00

#### 2.7.4.2. Report from TCBS

In [16]:
financial_flow(symbol="TCB", report_type='incomestatement', report_range='quarterly')

,ticker,revenue,yearRevenueGrowth,quarterRevenueGrowth,costOfGoodSold,grossProfit,operationExpense,operationProfit,yearOperationProfitGrowth,quarterOperationProfitGrowth,...,postTaxProfit,shareHolderIncome,yearShareHolderIncomeGrowth,quarterShareHolderIncomeGrowth,investProfit,serviceProfit,otherProfit,provisionExpense,operationIncome,ebitda
index,,,,,,,,,,,,,,,,,,,,,
2022-Q4,TCB,6819,-0.059,-0.099,None,None,-3990,9427,-0.072,-0.088,...,3572,3544,-0.228,-0.331,-422,2535,495,-691,5437,None
2022-Q3,TCB,7565,0.122,-0.029,None,None,-3014,10338,0.178,-0.062,...,5368,5298,0.221,-0.087,209,2123,441,-609,7324,None
2022-Q2,TCB,7794,0.183,-0.039,None,None,-3286,11024,0.198,0.090,...,5882,5804,0.232,0.054,411,2077,743,-417,7739,None
2022-Q1,TCB,8111,0.325,0.120,None,None,-3108,10112,0.132,-0.005,...,5615,5505,0.252,0.199,-280,1793,488,-218,7004,None
2021-Q4,TCB,7245,0.328,0.074,None,None,-3392,10159,0.309,0.157,...,4684,4592,0.162,0.059,279,2103,532,-627,6767,None
2021-Q3,TCB,6742,0.310,0.023,None,None,-2628,8779,0.171,-0.046,...,4432,4338,0.400,-0.079,384,1497,156,-589,6151,None
2021-Q2,TCB,6588,0.674,0.076,None,None,-2591,9206,0.562,0.031,...,4807,4711,0.672,0.072,717,1457,444,-598,6615,None
2021-Q1,TCB,6124,0.454,0.122,None,None,-2563,8932,0.481,0.151,...,4476,4397,0.790,0.112,812,1325,671,-851,6369,None
2020-Q4,TCB,5456,0.397,0.060,None,None,-2307,7762,0.171,0.035,...,4008,3953,0.305,0.276,546,1069,691,-366,5455,None
2020-Q3,TCB,5148,0.382,0.308,None,None,-2489,7497,0.399,0.272,...,3180,3099,0.213,0.100,378,1145,827,-1034,5008,None
2020-Q2,TCB,3935,0.230,-0.066,None,None,-1839,5895,0.257,-0.022,...,2889,2817,0.169,0.147,298,1254,408,-439,4056,None
2020-Q1,TCB,4212,0.228,0.079,None,None,-2138,6030,0.373,-0.090,...,2506,2456,0.179,-0.189,602,862,354,-772,3893,None
2019-Q4,TCB,3904,0.319,0.048,None,None,-2337,6627,0.311,0.237,...,3119,3029,0.344,0.186,746,1364,613,-312,4290,None
2019-Q3,TCB,3725,0.195,0.165,None,None,-1794,5359,0.156,0.142,...,2583,2554,0.240,0.060,579,635,419,-366,3564,None
2019-Q2,TCB,3199,0.277,-0.068,None,None,-1574,4691,0.173,0.068,...,2433,2409,0.147,0.157,267,756,469,-72,3117,None
2019-Q1,TCB,3430,0.347,0.159,None,None,-1607,4392,-0.058,-0.131,...,2092,2083,0.016,-0.076,158,498,306,-167,2784,None
2018-Q4,TCB,2959,0.198,-0.051,None,None,-2109,5055,-0.132,0.091,...,2265,2254,-0.118,0.094,93,1423,580,-60,2947,None
2018-Q3,TCB,3117,0.516,0.245,None,None,-1315,4635,0.331,0.159,...,2060,2060,0.207,-0.020,126,932,460,-743,3320,None
2018-Q2,TCB,2504,0.127,-0.017,None,None,-1150,3998,0.146,-0.142,...,2101,2101,0.867,0.025,442,688,364,-220,2848,None
2018-Q1,TCB,2547,0.166,0.031,None,None,-1267,4660,0.268,-0.200,...,2049,2049,0.934,-0.198,1392,492,229,-824,3393,None
2017-Q4,TCB,2469,0.290,0.201,None,None,-1553,5823,0.860,0.672,...,2555,2555,1.826,0.498,459,2247,647,-1073,4269,None
2017-Q3,TCB,2055,0.021,-0.075,None,None,-1218,3482,0.238,-0.002,...,1706,1706,0.669,0.517,479,644,303,-157,2263,None
2017-Q2,TCB,2222,0.011,0.017,None,None,-972,3490,0.230,-0.051,...,1125,1125,0.420,0.062,236,500,531,-1109,2518,None
2017-Q1,TCB,2184,0.080,0.141,None,None,-1080,3675,0.162,0.174,...,1059,1059,1.227,0.172,712,546,233,-1270,2595,None
2016-Q4,TCB,1915,-0.071,-0.049,None,None,-1282,3131,0.261,0.113,...,904,904,1.406,-0.116,239,400,578,-716,1849,None
2016-Q3,TCB,2012,0.290,-0.084,None,None,-1094,2813,0.340,-0.008,...,1022,1022,1.530,0.291,218,499,83,-442,1719,None
2016-Q2,TCB,2198,0.275,0.087,None,None,-927,2837,0.322,-0.103,...,792,792,0.614,0.665,173,304,161,-905,1910,None
2016-Q1,TCB,2022,0.086,-0.019,None,None,-982,3163,0.204,0.274,...,476,476,0.517,0.266,217,558,366,-1599,2181,None
2015-Q4,TCB,2062,0.296,0.321,None,None,-1161,2484,0.278,0.183,...,376,376,1.089,-0.070,-177,351,248,-837,1323,None
2015-Q3,TCB,1560,-0.027,-0.095,None,None,-905,2100,0.011,-0.021,...,404,404,1.496,-0.176,-59,337,262,-675,1195,None
2015-Q2,TCB,1724,0.343,-0.074,None,None,-799,2146,0.389,-0.184,...,491,491,1.284,0.565,-14,232,202,-723,1347,None
2015-Q1,TCB,1862,0.439,0.170,None,None,-832,2628,0.704,0.352,...,314,314,-0.403,0.743,220,219,327,-1388,1796,None
2014-Q4,TCB,1591,0.437,-0.008,None,None,-1099,1943,0.430,-0.064,...,180,180,0.869,0.111,-22,232,142,-590,844,None
2014-Q3,TCB,1604,0.575,0.249,None,None,-766,2077,0.619,0.344,...,162,162,2.027,-0.247,140,240,92,-1096,1311,None
2014-Q2,TCB,1284,0.395,-0.008,None,None,-776,1545,0.120,0.002,...,215,215,1.266,-0.591,-7,215,53,-493,769,None
2014-Q1,TCB,1294,0.003,0.169,None,None,-790,1542,-0.052,0.134,...,525,525,0.322,4.457,92,435,-279,-79,752,None
2013-Q4,TCB,1107,0.164,0.087,None,None,-800,1359,0.156,0.059,...,96,96,NaN,0.799,-2,218,36,-431,560,None
2013-Q3,TCB,1018,-0.280,0.106,None,None,-873,1283,-0.065,-0.070,...,53,53,-0.911,-0.436,-8,151,121,-313,410,None
2013-Q2,TCB,921,-0.357,-0.286,None,None,-771,1379,0.024,-0.152,...,95,95,-0.843,-0.761,89,244,125,-353,608,None
2013-Q1,TCB,1290,-0.021,0.356,None,None,-912,1627,-0.121,0.384,...,397,397,-0.613,NaN,82,122,132,-317,714,None
2012-Q4,TCB,951,NaN,-0.327,None,None,-1263,1175,NaN,-0.144,...,-1216,-1216,NaN,NaN,-81,39,266,-1128,-88,None
2012-Q3,TCB,1414,NaN,-0.013,None,None,-615,1373,NaN,0.019,...,603,603,NaN,0.002,-201,151,9,-155,758,None
2012-Q2,TCB,1432,NaN,0.086,None,None,-574,1347,NaN,-0.272,...,602,602,NaN,-0.414,-119,228,-194,-170,773,None
2012-Q1,TCB,1318,NaN,NaN,None,None,-826,1851,NaN,NaN,...,1028,1028,NaN,NaN,120,147,266,3,1025,None
2010-Q2,TCB,814,NaN,NaN,None,None,-446,972,NaN,NaN,...,384,384,NaN,NaN,26,104,28,-142,526,None

In [17]:
financial_flow(symbol="TCB", report_type='balancesheet', report_range='quarterly')

,ticker,shortAsset,cash,shortInvest,shortReceivable,inventory,longAsset,fixedAsset,asset,debt,...,oweCentralBank,valuablePaper,payableInterest,receivableInterest,deposit,otherDebt,fund,unDistributedIncome,minorShareHolderProfit,payable
index,,,,,,,,,,,,,,,,,,,,,
2022-Q4,TCB,None,4216,None,None,None,None,8411,699033,585608,...,8,34007,6144,8029,358404,34007,11609,64483,1129,585608
2022-Q3,TCB,None,3026,None,None,None,None,7282,671354,561454,...,6,42858,4750,8681,318919,42858,9151,64059,1032,561454
2022-Q2,TCB,None,3204,None,None,None,None,7220,623739,519263,...,2,37122,3375,8072,321634,37122,9152,58761,963,519263
2022-Q1,TCB,None,3277,None,None,None,None,7265,615270,516684,...,223,32731,3369,7253,328914,32731,9156,52958,884,516684
2021-Q4,TCB,None,3579,None,None,None,None,7224,568811,475756,...,1,33680,3098,5808,314753,33680,9156,47469,845,475756
2021-Q3,TCB,None,3303,None,None,None,None,7106,541635,453251,...,15,34003,3074,6224,316376,34003,6784,45261,753,453251
2021-Q2,TCB,None,3554,None,None,None,None,6739,504304,420403,...,0,27678,2643,5736,289335,27678,6790,40924,659,420403
2021-Q1,TCB,None,4273,None,None,None,None,4726,462823,383730,...,2,26035,2897,5664,287446,26035,6790,36213,563,383730
2020-Q4,TCB,None,3664,None,None,None,None,4613,439603,364988,...,0,27900,3252,5185,277459,27900,6790,31816,484,364988
2020-Q3,TCB,None,4205,None,None,None,None,4273,401462,330853,...,0,22785,3736,5988,252572,22785,5172,29503,457,330853
2020-Q2,TCB,None,4106,None,None,None,None,4126,395861,328432,...,0,23404,3928,5598,249857,23404,5173,26404,376,328432
2020-Q1,TCB,None,4151,None,None,None,None,3493,391808,327217,...,1004,17472,3613,6614,235099,17472,5173,23587,340,327217
2019-Q4,TCB,None,4821,None,None,None,None,3208,383699,321627,...,0,17461,3479,5554,231297,17461,5173,21130,292,321627
2019-Q3,TCB,None,5409,None,None,None,None,3504,367538,308598,...,2000,14489,3542,5112,218655,14489,3858,19439,201,308598
2019-Q2,TCB,None,5034,None,None,None,None,3439,360662,304296,...,3063,12642,3797,4649,220263,12642,3866,16885,173,304296
2019-Q1,TCB,None,4785,None,None,None,None,3104,326112,272237,...,2699,12866,3498,4739,207978,12866,3868,14486,79,272237
2018-Q4,TCB,None,2606,None,None,None,None,1719,321049,269267,...,6025,13178,3425,5738,201471,13178,3868,12403,69,269267
2018-Q3,TCB,None,4042,None,None,None,None,1586,311796,262315,...,2000,17240,3563,6036,193583,17240,2651,11388,0,262315
2018-Q2,TCB,None,3590,None,None,None,None,1489,300405,252975,...,2000,18904,3079,4672,186283,18904,6148,15156,0,252975
2018-Q1,TCB,None,3671,None,None,None,None,1483,273153,235537,...,2000,20074,2861,4400,181391,20074,6148,13055,0,235537
2017-Q4,TCB,None,2344,None,None,None,None,1511,269392,242462,...,1000,17640,2764,3877,170971,17640,6157,10997,0,242462
2017-Q3,TCB,None,3137,None,None,None,None,1461,233502,214069,...,2000,11495,2938,5728,166323,11495,5219,9380,0,214069
2017-Q2,TCB,None,2873,None,None,None,None,1473,232342,210591,...,1000,10320,2888,5231,172103,10320,5219,7673,0,210591
2017-Q1,TCB,None,3179,None,None,None,None,1529,232522,211870,...,432,10397,2426,4440,178623,10397,5219,6548,0,211870
2016-Q4,TCB,None,2957,None,None,None,None,1583,235363,215731,...,1448,10415,2195,3989,173449,10415,5223,5531,0,215731
2016-Q3,TCB,None,2930,None,None,None,None,1513,222770,204027,...,0,9842,2353,4758,163515,9842,4745,5125,0,204027
2016-Q2,TCB,None,2840,None,None,None,None,1562,212676,194941,...,0,8048,2488,4365,150033,8048,4745,4102,0,194941
2016-Q1,TCB,None,2750,None,None,None,None,880,199003,182047,...,0,8103,2283,3362,148817,8103,4745,3310,0,182047
2015-Q4,TCB,None,2754,None,None,None,None,882,192009,175481,...,0,8134,2087,3047,142240,8134,4753,2897,0,175481
2015-Q3,TCB,None,2758,None,None,None,None,931,175217,159056,...,0,6395,1982,3874,136631,6395,4549,2740,0,159056
2015-Q2,TCB,None,2559,None,None,None,None,975,172744,156989,...,0,6477,1901,3590,129016,6477,4550,2337,0,156989
2015-Q1,TCB,None,2495,None,None,None,None,1011,179100,163806,...,203,6442,1829,3278,126886,6442,4550,1858,0,163806
2014-Q4,TCB,None,2724,None,None,None,None,1037,175915,160916,...,0,6254,1908,3341,131438,6254,4552,1570,0,160916
2014-Q3,TCB,None,2277,None,None,None,None,996,170768,155946,...,0,5571,1665,4692,121733,5571,4371,1572,0,155946
2014-Q2,TCB,None,2469,None,None,None,None,1022,171081,156420,...,0,4619,2265,5430,124743,4619,0,1410,0,156420
2014-Q1,TCB,None,2123,None,None,None,None,981,164135,149686,...,0,4659,2309,5508,124014,4659,4372,1194,0,149686
2013-Q4,TCB,None,2291,None,None,None,None,1033,158897,144977,...,0,5643,1861,5257,119978,5643,4370,672,0,144977
2013-Q3,TCB,None,2421,None,None,None,None,1069,165879,152031,...,0,4536,1734,5637,117236,4536,4279,718,0,152031
2013-Q2,TCB,None,2999,None,None,None,None,1033,171394,157611,...,0,6670,2151,6986,111591,6670,4279,627,0,157611
2013-Q1,TCB,None,3669,None,None,None,None,1125,175863,162188,...,0,7646,1901,5874,114096,7646,3476,1355,0,162188
2012-Q4,TCB,None,4529,None,None,None,None,1146,179733,166443,...,0,10451,1783,5074,111462,10451,3475,966,0,166443
2012-Q3,TCB,None,6523,None,None,None,None,1257,178267,163863,...,0,18987,2278,5643,99560,18987,3332,2291,0,163863
2012-Q2,TCB,None,5853,None,None,None,None,1240,179792,165883,...,2900,20819,2426,5198,96739,20819,3339,1892,0,165883

In [18]:
financial_flow(symbol="TCB", report_type='cashflow', report_range='quarterly')

        ticker  investCost  fromInvest  fromFinancial  fromSale  freeCashFlow
index
2022-Q4    TCB        -720        -679           -700     19130             0
2022-Q3    TCB        -212        -205             63     15950             0
2022-Q2    TCB         -65         -62              0     -4020             0
2022-Q1    TCB        -113        -111            -73     24408             0
2021-Q4    TCB        -280        -276              0     -9328             0
2021-Q3    TCB        -180        -179             60     17974             0
2021-Q2    TCB        -337        -282              0     11205             0
2021-Q1    TCB        -143        -143              0     -6954             0
2020-Q4    TCB        -268        -263           -137      -479             0
2020-Q3    TCB        -157        -157              0    -12204             0
2020-Q2    TCB         -61         -56            -37     -1274             0
2020-Q1    TCB        -195        -194              0      3884             0
2019-Q4    TCB         -84         -79          -2165      1959             0
2019-Q3    TCB         -54         -45          -1000       797             0
2019-Q2    TCB        -110        -109             12      3717             0
2019-Q1    TCB         -10          11             58      6253             0
2018-Q4    TCB        -215        -215             58     -5302             0
2018-Q3    TCB        -128        -128          -1508     -5810             0
2018-Q2    TCB         -28         -34           6518     19534             0
2018-Q1    TCB         -15         884           8632     -8163             0
2017-Q4    TCB        -110        -105           4800      1506             0
2017-Q3    TCB         -51         -51          -4043      2862             0
2017-Q2    TCB          -6          -5             16     -1675             0
2017-Q1    TCB          -9         917             -8      4385             0
2016-Q4    TCB        -136        -134              0      1381             0
2016-Q3    TCB         -14         -14              0      -977             0
2016-Q1    TCB         -56         -57              0     -6851             0
2015-Q4    TCB         -46          23              0     -5688             0
2015-Q3    TCB         -20          37              0       455             0
2015-Q2    TCB         -25         -18              0      6506             0
2015-Q1    TCB         -33         -33              0     -8160             0
2014-Q4    TCB        -122        -631              0     -5217             0
2014-Q3    TCB         -33         -29              0      5048             0
2014-Q2    TCB         -28         -19              0      2291             0
2014-Q1    TCB          -5         -11              0      -350             0
2013-Q4    TCB        -198        -201              0     -8213             0
2013-Q3    TCB         -66         -93              0      2271             0
2013-Q2    TCB         -25         -16              0      2008             0
2013-Q1    TCB         -35         -29              0     -1153             0
2012-Q3    TCB         -66       -1391              0     -2139             0

## 2.8. üßß Dividend Historical Data

In [19]:
dividend_history("VNM")

   exerciseDate  cashYear  cashDividendPercentage issueMethod
0      22/12/22      2022                   0.140        cash
1      06/07/22      2021                   0.095        cash
2      06/07/22      2022                   0.150        cash
3      10/01/22      2021                   0.140        cash
4      07/09/21      2021                   0.150        cash
5      07/06/21      2020                   0.110        cash
6      05/01/21      2020                   0.100        cash
7      29/09/20      2020                   0.200        cash
8      29/06/20      2019                   0.150        cash
9      26/12/19      2019                   0.100        cash
10     16/09/19      2019                   0.200        cash
11     05/06/19      2018                   0.150        cash
12     27/12/18      2018                   0.100        cash
13     05/09/18      2018                   0.200        cash
14     05/06/18      2017                   0.150        cash
15     28/12/17      2017                   0.150        cash
16     14/08/17      2017                   0.200        cash
17     04/05/17      2016                   0.200        cash
18     19/08/16      2016                   0.400        cash
19     03/06/16      2015                   0.200        cash

## 2.9. ‚≠êGeneral Rating

In [20]:
general_rating("VNM")

,stockRating,valuation,financialHealth,businessModel,businessOperation,rsRating,taScore,ticker,highestPrice,lowestPrice,priceChange3m,priceChange1y,beta,alpha
0,3.7,1.4,4.8,3.0,2.8,2.2,1.0,VNM,83504.0,61242.1,-0.013,0.045,0.54,0.0016

## 2.10. üå± Business Model Rating

In [21]:
biz_model_rating("VNM")

,ticker,businessModel,businessEfficiency,assetQuality,cashFlowQuality,bom,businessAdministration,productService,businessAdvantage,companyPosition,industry,operationRisk
0,VNM,3.0,3,3,3,3,3,3,3,3,3,3

## 2.11. üéÆ Business Operation Rating

In [22]:
biz_operation_rating("VNM")

,industryEn,loanGrowth,depositGrowth,netInterestIncomeGrowth,netInterestMargin,costToIncome,netIncomeTOI,ticker,businessOperation,avgROE,avgROA,last5yearsNetProfitGrowth,last5yearsRevenueGrowth,last5yearsOperatingProfitGrowth,last5yearsEBITDAGrowth,last5yearsFCFFGrowth,lastYearGrossProfitMargin,lastYearOperatingProfitMargin,lastYearNetProfitMargin,TOIGrowth
0,Food Products,None,None,None,None,None,None,VNM,2.8,5,5,1,2,1,1,2,4,3,3,None

## 2.12. üìë Financial Health Rating

In [23]:
financial_health_rating("VNM")

,industryEn,loanDeposit,badLoanGrossLoan,badLoanAsset,provisionBadLoan,ticker,financialHealth,netDebtEquity,currentRatio,quickRatio,interestCoverage,netDebtEBITDA
0,Food Products,None,None,None,None,VNM,4.8,4,5,5,5,5

## 2.13. üí≤ Valuation Rating

In [24]:
valuation_rating("VNM")

      industryEn ticker  valuation  pe  pb  ps  evebitda  dividendRate
0  Food Products    VNM        1.4   1   1   1         1             4

## 2.14. üí≥ Industry Financial Health

In [25]:
industry_financial_health("VNM")

,industryEn,loanDeposit,badLoanGrossLoan,badLoanAsset,provisionBadLoan,ticker,financialHealth,netDebtEquity,currentRatio,quickRatio,interestCoverage,netDebtEBITDA
0,None,None,None,None,None,VNM,3.4,4,4,3,3,3

## 2.15. üåè Market Watch

In [26]:
market_top_mover('ForeignTrading')

,foreignBuyVolume,foreignBuyValue,foreignSellVolume,foreignSellValue,organCode,ticker,sectorName,value,volume,price,...,o,h,l,priceChange,percentPriceChange,rank,totalRank,performance,financial,technical
0,2411500.0,1.179712e+11,945800.0,4.613164e+10,NHN,VHM,B·∫•t ƒë·ªông s·∫£n,1.277906e+11,2611824.0,49000.0,...,48000.0,49850.0,48000.0,1000.0,0.020833,6,129,"{'organCode': 'NHN', 'percentPriceChange1Day':...","{'organCode': 'NHN', 'rtd7': 33348.8791196854,...","{'organCode': 'NHN', 'sma20Past4': 42717.5, 's..."
1,1629400.0,3.328640e+10,176800.0,3.607075e+09,HPG,HPG,Th√©p v√† s·∫£n ph·∫©m th√©p,2.796760e+11,13694808.0,20400.0,...,20450.0,20500.0,20300.0,0.0,0.000000,1,47,"{'organCode': 'HPG', 'percentPriceChange1Day':...","{'organCode': 'HPG', 'rtd7': 16510.9055471241,...","{'organCode': 'HPG', 'sma20Past4': 20810.0, 's..."
2,5343100.0,9.548365e+10,4376000.0,7.836423e+10,MBB,MBB,Ng√¢n h√†ng,2.906615e+11,16312592.0,17750.0,...,17700.0,17950.0,17600.0,350.0,0.020115,3,27,"{'organCode': 'MBB', 'percentPriceChange1Day':...","{'organCode': 'MBB', 'rtd7': 16751.0644655957,...","{'organCode': 'MBB', 'sma20Past4': 17597.5, 's..."
3,1023800.0,1.845611e+10,163200.0,2.932465e+09,HDB,HDB,Ng√¢n h√†ng,2.482759e+10,1377985.0,18050.0,...,17700.0,18200.0,17700.0,400.0,0.022663,10,27,"{'organCode': 'HDB', 'percentPriceChange1Day':...","{'organCode': 'HDB', 'rtd7': 14691.7286608859,...","{'organCode': 'HDB', 'sma20Past4': 18087.5, 's..."
4,810800.0,1.958262e+10,44200.0,1.068960e+09,NLG,NLG,B·∫•t ƒë·ªông s·∫£n,5.816888e+10,2397362.0,24900.0,...,23600.0,24900.0,23450.0,1600.0,0.068670,4,129,"{'organCode': 'NLG', 'percentPriceChange1Day':...","{'organCode': 'NLG', 'rtd7': 23406.5887072781,...","{'organCode': 'NLG', 'sma20Past4': 25427.5, 's..."
5,1569200.0,3.217734e+10,916400.0,1.877352e+10,SSI,SSI,M√¥i gi·ªõi ch·ª©ng kho√°n,3.820575e+11,18618046.0,20450.0,...,20450.0,20650.0,20400.0,100.0,0.004914,1,43,"{'organCode': 'SSI', 'percentPriceChange1Day':...","{'organCode': 'SSI', 'rtd7': 14905.2523570613,...","{'organCode': 'SSI', 'sma20Past4': 19377.5, 's..."
6,589800.0,6.945640e+09,25600.0,3.017900e+08,NOVALAND,NVL,B·∫•t ƒë·ªông s·∫£n,3.573430e+11,30514167.0,11900.0,...,11200.0,11900.0,11100.0,750.0,0.067265,32,129,"{'organCode': 'NOVALAND', 'percentPriceChange1...","{'organCode': 'NOVALAND', 'rtd7': 19251.939323...","{'organCode': 'NOVALAND', 'sma20Past4': 11085...."
7,853800.0,2.683071e+10,292100.0,9.184545e+09,VCSC,VCI,M√¥i gi·ªõi ch·ª©ng kho√°n,1.996405e+11,6359843.0,31050.0,...,31500.0,31800.0,31000.0,-350.0,-0.011147,1,43,"{'organCode': 'VCSC', 'percentPriceChange1Day'...","{'organCode': 'VCSC', 'rtd7': 14914.9704895432...","{'organCode': 'VCSC', 'sma20Past4': 27445.0, '..."
8,390800.0,2.083184e+10,38400.0,2.038000e+09,VIC,VIC,B·∫•t ƒë·ªông s·∫£n,4.425230e+10,831551.0,53300.0,...,52800.0,53700.0,52500.0,500.0,0.009470,2,129,"{'organCode': 'VIC', 'percentPriceChange1Day':...","{'organCode': 'VIC', 'rtd7': 28762.3357147748,...","{'organCode': 'VIC', 'sma20Past4': 53025.0, 's..."
9,300000.0,7.555000e+09,6000.0,1.512000e+08,PVS,PVS,Thi·∫øt b·ªã v√† D·ªãch v·ª• D·∫ßu kh√≠,1.006750e+11,4015000.0,25200.0,...,24800.0,25300.0,24800.0,400.0,0.016129,1,9,"{'organCode': 'PVS', 'percentPriceChange1Day':...","{'organCode': 'PVS', 'rtd7': 25563.6114057918,...","{'organCode': 'PVS', 'sma20Past4': 26120.0, 's..."
10,276200.0,4.210305e+09,2000.0,2.960000e+07,MINC,MIG,B·∫£o hi·ªÉm phi nh√¢n th·ªç,8.920375e+09,584374.0,15200.0,...,14800.0,15450.0,14800.0,200.0,0.013333,3,12,"{'organCode': 'MINC', 'percentPriceChange1Day'...","{'organCode': 'MINC', 'rtd7': 11507.3308831134...","{'organCode': 'MINC', 'sma20Past4': 14767.5, '..."
11,299700.0,1.090944e+10,26000.0,9.425850e+08,PETRO,PLX,S·∫£n xu·∫•t v√† Khai th√°c d·∫ßu kh√≠,3.828342e+10,1052355.0,36350.0,...,35900.0,36650.0,35900.0,500.0,0.013947,2,3,"{'organCode': 'PETRO', 'percentPriceChange1Day...","{'organCode': 'PETRO', 'rtd7': 19332.938381591...","{'organCode': 'PETRO', 'sma20Past4': 37960.0, ..."
12,471700.0,1.194411e+10,205100.0,5.195130e+09,STB,STB,Ng√¢n h√†ng,4.080938e+11,16107786.0,25050.0,...,25250.0,25550.0,25050.0,50.0,0.002000,4,27,"{'organCode': 'STB', 'percentPriceChange1Day':...","{'organCode': 'STB', 'rtd7': 20489.4302928673,...","{'organCode': 'STB', 'sma20Past4': 24952.5, 's..."
13,246200.0,2.584595e+09,0.0,0.000000e+00,SHB,SHB,Ng√¢n h√†ng,1.698177e+11,16198033.0,10500.0,...,10600.0,10650.0,10400.0,0.0,0.000000,12,27,"{'organCode': 'SHB', 'percentPriceChange1Day':...","{'organCode': 'SHB', 'rtd7': 13941.210048035, ...","{'organCode': 'SHB', 'sma20Past4': 10031.5, 's..."
14,223800.0,3.656070e+09,0.0,0.000000e+00,PAN,PAN,Th·ª±c ph·∫©m,1.851707e+10,1133402.0,16350.0,...,16350.0,16450.0,16200.0,50.0,0.003067,12,112,"{'organCode': 'PAN', 'percentPriceChange1Day':...","{'organCode': 'PAN', 'rtd7': 21507.366385632, ...","{'organCode': 'PAN', 'sma20Past4': 16160.0, 's..."
15,1569600.0,4.608349e+10,1351800.0,3.969743e+10,VRJSC,VRE,B·∫•t ƒë·ªông s·∫£n,3.853247e+10,1312719.0,29250.0,...,29250.0,29450.0,29200.0,-50.0,-0.001706,7,129,"{'organCode': 'VRJSC', 'percentPriceChange1Day...","{'organCode': 'VRJSC', 'rtd7': 14695.274153942...","{'organCode': 'VRJSC', 'sma20Past4': 27550.0, ..."
16,217600.0,3.320260e+09,0.0,0.000000e+00,BSRC,BSR,S·∫£n xu·∫•t v√† Khai th√°c d·∫ßu kh√≠,8.612925e+10,5637500.0,15200.0,...,15000.0,15500.0,15000.0,200.0,0.012000,1,3,"{'organCode': 'BSRC', 'percentPriceChange1Day'...","{'organCode': 'BSRC', 'rtd7': 16531.3374003717...","{'organCode': 'BSRC', 'sma20Past4': 16205.1, '..."
17,166900.0,3.386385e+09,13300.0,2.702650e+08,VCG,VCG,X√¢y d·ª±ng,2.292270e+11,11317428.0,20150.0,...,19800.0,20500.0,19800.0,450.0,0.022843,36,351,"{'organCode': 'VCG', 'percentPriceChange1Day':...","{'organCode': 'VCG', 'rtd7': 14324.6750485539,...","{'organCode': 'VCG', 'sma20Past4': 20150.0, 's..."
18,150700.0,1.829090e+09,9100.0,1.109050e+08,PDR,PDR,B·∫•t ƒë·ªông s·∫£n,8.819965e+10,7243251.0,12350.0,...,11950.0,12400.0,11800.0,350.0,0.029167,12,129,"{'organCode': 'PDR', 'percentPriceChange1Day':...","{'organCode': 'PDR', 'rtd7': 12147.5810556405,...","{'organCode': 'PDR', 'sma20Past4': 11300.0, 's..."
19,216400.0,5.335260e+09,74800.0,1.842420e+09,HCM,HCM,M√¥i gi·ªõi ch·ª©ng kho√°n,1.366693e+11,5539156.0,24500.0,...,24750.0,24900.0,24450.0,0.0,0.000000,5,43,"{'organCode': 'HCM', 'percentPriceChange1Day':...","{'organCode': 'HCM', 'rtd7': 17260.7744690067,...","{'organCode': 'HCM', 'sma20Past4': 23922.5, 's..."
20,492700.0,1.083776e+10,353800.0,7.783322e+09,FUEVFVND,FUEVFVND,Qu·ªπ ƒë·∫ßu t∆∞,9.492034e+09,431700.0,22030.0,...,21820.0,22070.0,21820.0,210.0,0.009624,1,14,"{'organCode': 'FUEVFVND', 'percentPriceChange1...","{'organCode': 'FUEVFVND', 'rtd7': None, 'rtd11...","{'organCode': 'FUEVFVND', 'sma20Past4': 22198...."
21,341400.0,9.010810e+09,221300.0,5.828145e+09,KDH,KDH,B·∫•t ƒë·ªông s·∫£n,2.976944e+10,1126056.0,26600.0,...,26150.0,26700.0,26100.0,450.0,0.017208,14,129,"{'organCode': 'KDH', 'percentPriceChange1Day':...","{'organCode': 'KDH', 'rtd7': 16121.9167021603,...","{'organCode': 'KDH', 'sma20Past4': 26002.5, 's..."
22,124400.0,1.317739e+10,6900.0,7.277100e+08,VIETJET,VJC,D·ªãch v·ª• h√†ng kh√¥ng,3.008355e+10,283992.0,106200.0,...,105900.0,106200.0,104600.0,500.0,0.004730,5,55,"{'organCode': 'VIETJET', 'percentPriceChange1D...","{'organCode': 'VIETJET', 'rtd7': 26256.8732265...","{'organCode': 'VIETJET', 'sma20Past4': 100920...."
23,127200.0,1.832025e+09,10300.0,1.484100e+08,SBT,SBT,Th·ª±c ph·∫©m,1.722902e+10,1198410.0,14450.0,...,14450.0,14450.0,14300.0,0.0,0.000000,2,112,"{'organCode': 'SBT', 'percentPriceChange1Day':...","{'organCode': 'SBT', 'rtd7': 13768.7441501661,...","{'organCode': 'SBT', 'sma20Past4': 14582.5, 's..."
24,205700.0,1.491313e+09,92500.0,6.727900e+08,VIX,VIX,M√¥i gi·ªõi ch·ª©ng kho√°n,7.498116e+10,10338719.0,7260.0,...,7170.0,7350.0,7160.0,190.0,0.026874,11,43,"{'organCode': 'VIX', 'percentPriceChange1Day':...","{'organCode': 'VIX', 'rtd7': 13507.2055752426,...","{'organCode': 'VIX', 'sma20Past4': 6893.5, 'sm..."
25,123600.0,1.517005e+09,11200.0,1.373250e+08,GELEX,GEX,Thi·∫øt b·ªã ƒëi·ªán,8.219186e+10,6708452.0,12300.0,...,12250.0,12400.0,12150.0,150.0,0.012346,1,27,"{'organCode': 'GELEX', 'percentPriceChange1Day...","{'organCode': 'GELEX', 'rtd7': 14183.342055693...","{'organCode': 'GELEX', 'sma20Past4': 12065.0, ..."
26,219600.0,2.817190e+09,110400.0,1.383225e+09,DIG,DIG,B·∫•t ƒë·ªông s·∫£n,2.422732e+11,19037349.0,12750.0,...,12600.0,13000.0,12400.0,250.0,0.020000,26,129,"{'organCode': 'DIG', 'percentPriceChange1Day':...","{'organCode': 'DIG', 'rtd7': 12363.9470648678,...","{'organCode': 'DIG', 'sma20Past4': 12620.0, 's..."
27,144300.0,4.794980e+09,55400.0,1.840500e+09,DGW,DGW,Ph√¢n ph·ªëi h√†ng chuy√™n d·ª•ng,2.780677e+10,837381.0,33100.0,...,33450.0,33650.0,32800.0,-200.0,-0.006006,2,30,"{'organCode': 'DGW', 'percentPriceChange1Day':...","{'organCode': 'DGW', 'rtd7': 14570.3922155445,...","{'organCode': 'DGW', 'sma20Past4': 37000.0, 's..."
28,79300.0,7.138920e+08,10700.0,9.621000e+07,AAA,AAA,"Nh·ª±a, cao su & s·ª£i",1.915633e+10,2129609.0,9000.0,...,8870.0,9020.0,8870.0,70.0,0.007839,6,73,"{'organCode': 'AAA', 'percentPriceChange1Day':...","{'organCode': 'AAA', 'rtd7': 14429.0627716582,...","{'organCode': 'AAA', 'sma20Past4': 8902.5, 'sm..."
29,65500.0,2.218905e+09,900.0,3.033000e+07,DPM,DPM,"S·∫£n ph·∫©m h√≥a d·∫ßu, N√¥ng d∆∞·ª£c & H√≥a ch·∫•t kh√°c",2.747997e+10,810848.0,33700.0,...,34100.0,34100.0,33700.0,-250.0,-0.007364,2,73,"{'organCode': 'DPM', 'percentPriceChange1Day':...","{'organCode': 'DPM', 'rtd7': 35343.2459605939,...","{'organCode': 'DPM', 'sma20Past4': 34562.5, 's..."

### 2.15.1. Top stocks

In [27]:
market_top_mover('ForeignTrading')

,foreignBuyVolume,foreignBuyValue,foreignSellVolume,foreignSellValue,organCode,ticker,sectorName,value,volume,price,...,o,h,l,priceChange,percentPriceChange,rank,totalRank,performance,financial,technical
0,2411500.0,1.179712e+11,945800.0,4.613164e+10,NHN,VHM,B·∫•t ƒë·ªông s·∫£n,1.277906e+11,2611824.0,49000.0,...,48000.0,49850.0,48000.0,1000.0,0.020833,6,129,"{'organCode': 'NHN', 'percentPriceChange1Day':...","{'organCode': 'NHN', 'rtd7': 33348.8791196854,...","{'organCode': 'NHN', 'sma20Past4': 42717.5, 's..."
1,1629400.0,3.328640e+10,176800.0,3.607075e+09,HPG,HPG,Th√©p v√† s·∫£n ph·∫©m th√©p,2.796760e+11,13694808.0,20400.0,...,20450.0,20500.0,20300.0,0.0,0.000000,1,47,"{'organCode': 'HPG', 'percentPriceChange1Day':...","{'organCode': 'HPG', 'rtd7': 16510.9055471241,...","{'organCode': 'HPG', 'sma20Past4': 20810.0, 's..."
2,5343100.0,9.548365e+10,4376000.0,7.836423e+10,MBB,MBB,Ng√¢n h√†ng,2.906615e+11,16312592.0,17750.0,...,17700.0,17950.0,17600.0,350.0,0.020115,3,27,"{'organCode': 'MBB', 'percentPriceChange1Day':...","{'organCode': 'MBB', 'rtd7': 16751.0644655957,...","{'organCode': 'MBB', 'sma20Past4': 17597.5, 's..."
3,1023800.0,1.845611e+10,163200.0,2.932465e+09,HDB,HDB,Ng√¢n h√†ng,2.482759e+10,1377985.0,18050.0,...,17700.0,18200.0,17700.0,400.0,0.022663,10,27,"{'organCode': 'HDB', 'percentPriceChange1Day':...","{'organCode': 'HDB', 'rtd7': 14691.7286608859,...","{'organCode': 'HDB', 'sma20Past4': 18087.5, 's..."
4,810800.0,1.958262e+10,44200.0,1.068960e+09,NLG,NLG,B·∫•t ƒë·ªông s·∫£n,5.816888e+10,2397362.0,24900.0,...,23600.0,24900.0,23450.0,1600.0,0.068670,4,129,"{'organCode': 'NLG', 'percentPriceChange1Day':...","{'organCode': 'NLG', 'rtd7': 23406.5887072781,...","{'organCode': 'NLG', 'sma20Past4': 25427.5, 's..."
5,1569200.0,3.217734e+10,916400.0,1.877352e+10,SSI,SSI,M√¥i gi·ªõi ch·ª©ng kho√°n,3.820575e+11,18618046.0,20450.0,...,20450.0,20650.0,20400.0,100.0,0.004914,1,43,"{'organCode': 'SSI', 'percentPriceChange1Day':...","{'organCode': 'SSI', 'rtd7': 14905.2523570613,...","{'organCode': 'SSI', 'sma20Past4': 19377.5, 's..."
6,589800.0,6.945640e+09,25600.0,3.017900e+08,NOVALAND,NVL,B·∫•t ƒë·ªông s·∫£n,3.573430e+11,30514167.0,11900.0,...,11200.0,11900.0,11100.0,750.0,0.067265,32,129,"{'organCode': 'NOVALAND', 'percentPriceChange1...","{'organCode': 'NOVALAND', 'rtd7': 19251.939323...","{'organCode': 'NOVALAND', 'sma20Past4': 11085...."
7,853800.0,2.683071e+10,292100.0,9.184545e+09,VCSC,VCI,M√¥i gi·ªõi ch·ª©ng kho√°n,1.996405e+11,6359843.0,31050.0,...,31500.0,31800.0,31000.0,-350.0,-0.011147,1,43,"{'organCode': 'VCSC', 'percentPriceChange1Day'...","{'organCode': 'VCSC', 'rtd7': 14914.9704895432...","{'organCode': 'VCSC', 'sma20Past4': 27445.0, '..."
8,390800.0,2.083184e+10,38400.0,2.038000e+09,VIC,VIC,B·∫•t ƒë·ªông s·∫£n,4.425230e+10,831551.0,53300.0,...,52800.0,53700.0,52500.0,500.0,0.009470,2,129,"{'organCode': 'VIC', 'percentPriceChange1Day':...","{'organCode': 'VIC', 'rtd7': 28762.3357147748,...","{'organCode': 'VIC', 'sma20Past4': 53025.0, 's..."
9,300000.0,7.555000e+09,6000.0,1.512000e+08,PVS,PVS,Thi·∫øt b·ªã v√† D·ªãch v·ª• D·∫ßu kh√≠,1.006750e+11,4015000.0,25200.0,...,24800.0,25300.0,24800.0,400.0,0.016129,1,9,"{'organCode': 'PVS', 'percentPriceChange1Day':...","{'organCode': 'PVS', 'rtd7': 25563.6114057918,...","{'organCode': 'PVS', 'sma20Past4': 26120.0, 's..."
10,276200.0,4.210305e+09,2000.0,2.960000e+07,MINC,MIG,B·∫£o hi·ªÉm phi nh√¢n th·ªç,8.920375e+09,584374.0,15200.0,...,14800.0,15450.0,14800.0,200.0,0.013333,3,12,"{'organCode': 'MINC', 'percentPriceChange1Day'...","{'organCode': 'MINC', 'rtd7': 11507.3308831134...","{'organCode': 'MINC', 'sma20Past4': 14767.5, '..."
11,299700.0,1.090944e+10,26000.0,9.425850e+08,PETRO,PLX,S·∫£n xu·∫•t v√† Khai th√°c d·∫ßu kh√≠,3.828342e+10,1052355.0,36350.0,...,35900.0,36650.0,35900.0,500.0,0.013947,2,3,"{'organCode': 'PETRO', 'percentPriceChange1Day...","{'organCode': 'PETRO', 'rtd7': 19332.938381591...","{'organCode': 'PETRO', 'sma20Past4': 37960.0, ..."
12,471700.0,1.194411e+10,205100.0,5.195130e+09,STB,STB,Ng√¢n h√†ng,4.080938e+11,16107786.0,25050.0,...,25250.0,25550.0,25050.0,50.0,0.002000,4,27,"{'organCode': 'STB', 'percentPriceChange1Day':...","{'organCode': 'STB', 'rtd7': 20489.4302928673,...","{'organCode': 'STB', 'sma20Past4': 24952.5, 's..."
13,246200.0,2.584595e+09,0.0,0.000000e+00,SHB,SHB,Ng√¢n h√†ng,1.698177e+11,16198033.0,10500.0,...,10600.0,10650.0,10400.0,0.0,0.000000,12,27,"{'organCode': 'SHB', 'percentPriceChange1Day':...","{'organCode': 'SHB', 'rtd7': 13941.210048035, ...","{'organCode': 'SHB', 'sma20Past4': 10031.5, 's..."
14,223800.0,3.656070e+09,0.0,0.000000e+00,PAN,PAN,Th·ª±c ph·∫©m,1.851707e+10,1133402.0,16350.0,...,16350.0,16450.0,16200.0,50.0,0.003067,12,112,"{'organCode': 'PAN', 'percentPriceChange1Day':...","{'organCode': 'PAN', 'rtd7': 21507.366385632, ...","{'organCode': 'PAN', 'sma20Past4': 16160.0, 's..."
15,1569600.0,4.608349e+10,1351800.0,3.969743e+10,VRJSC,VRE,B·∫•t ƒë·ªông s·∫£n,3.853247e+10,1312719.0,29250.0,...,29250.0,29450.0,29200.0,-50.0,-0.001706,7,129,"{'organCode': 'VRJSC', 'percentPriceChange1Day...","{'organCode': 'VRJSC', 'rtd7': 14695.274153942...","{'organCode': 'VRJSC', 'sma20Past4': 27550.0, ..."
16,217600.0,3.320260e+09,0.0,0.000000e+00,BSRC,BSR,S·∫£n xu·∫•t v√† Khai th√°c d·∫ßu kh√≠,8.612925e+10,5637500.0,15200.0,...,15000.0,15500.0,15000.0,200.0,0.012000,1,3,"{'organCode': 'BSRC', 'percentPriceChange1Day'...","{'organCode': 'BSRC', 'rtd7': 16531.3374003717...","{'organCode': 'BSRC', 'sma20Past4': 16205.1, '..."
17,166900.0,3.386385e+09,13300.0,2.702650e+08,VCG,VCG,X√¢y d·ª±ng,2.292270e+11,11317428.0,20150.0,...,19800.0,20500.0,19800.0,450.0,0.022843,36,351,"{'organCode': 'VCG', 'percentPriceChange1Day':...","{'organCode': 'VCG', 'rtd7': 14324.6750485539,...","{'organCode': 'VCG', 'sma20Past4': 20150.0, 's..."
18,150700.0,1.829090e+09,9100.0,1.109050e+08,PDR,PDR,B·∫•t ƒë·ªông s·∫£n,8.819965e+10,7243251.0,12350.0,...,11950.0,12400.0,11800.0,350.0,0.029167,12,129,"{'organCode': 'PDR', 'percentPriceChange1Day':...","{'organCode': 'PDR', 'rtd7': 12147.5810556405,...","{'organCode': 'PDR', 'sma20Past4': 11300.0, 's..."
19,216400.0,5.335260e+09,74800.0,1.842420e+09,HCM,HCM,M√¥i gi·ªõi ch·ª©ng kho√°n,1.366693e+11,5539156.0,24500.0,...,24750.0,24900.0,24450.0,0.0,0.000000,5,43,"{'organCode': 'HCM', 'percentPriceChange1Day':...","{'organCode': 'HCM', 'rtd7': 17260.7744690067,...","{'organCode': 'HCM', 'sma20Past4': 23922.5, 's..."
20,492700.0,1.083776e+10,353800.0,7.783322e+09,FUEVFVND,FUEVFVND,Qu·ªπ ƒë·∫ßu t∆∞,9.492034e+09,431700.0,22030.0,...,21820.0,22070.0,21820.0,210.0,0.009624,1,14,"{'organCode': 'FUEVFVND', 'percentPriceChange1...","{'organCode': 'FUEVFVND', 'rtd7': None, 'rtd11...","{'organCode': 'FUEVFVND', 'sma20Past4': 22198...."
21,341400.0,9.010810e+09,221300.0,5.828145e+09,KDH,KDH,B·∫•t ƒë·ªông s·∫£n,2.976944e+10,1126056.0,26600.0,...,26150.0,26700.0,26100.0,450.0,0.017208,14,129,"{'organCode': 'KDH', 'percentPriceChange1Day':...","{'organCode': 'KDH', 'rtd7': 16121.9167021603,...","{'organCode': 'KDH', 'sma20Past4': 26002.5, 's..."
22,124400.0,1.317739e+10,6900.0,7.277100e+08,VIETJET,VJC,D·ªãch v·ª• h√†ng kh√¥ng,3.008355e+10,283992.0,106200.0,...,105900.0,106200.0,104600.0,500.0,0.004730,5,55,"{'organCode': 'VIETJET', 'percentPriceChange1D...","{'organCode': 'VIETJET', 'rtd7': 26256.8732265...","{'organCode': 'VIETJET', 'sma20Past4': 100920...."
23,127200.0,1.832025e+09,10300.0,1.484100e+08,SBT,SBT,Th·ª±c ph·∫©m,1.722902e+10,1198410.0,14450.0,...,14450.0,14450.0,14300.0,0.0,0.000000,2,112,"{'organCode': 'SBT', 'percentPriceChange1Day':...","{'organCode': 'SBT', 'rtd7': 13768.7441501661,...","{'organCode': 'SBT', 'sma20Past4': 14582.5, 's..."
24,205700.0,1.491313e+09,92500.0,6.727900e+08,VIX,VIX,M√¥i gi·ªõi ch·ª©ng kho√°n,7.498116e+10,10338719.0,7260.0,...,7170.0,7350.0,7160.0,190.0,0.026874,11,43,"{'organCode': 'VIX', 'percentPriceChange1Day':...","{'organCode': 'VIX', 'rtd7': 13507.2055752426,...","{'organCode': 'VIX', 'sma20Past4': 6893.5, 'sm..."
25,123600.0,1.517005e+09,11200.0,1.373250e+08,GELEX,GEX,Thi·∫øt b·ªã ƒëi·ªán,8.219186e+10,6708452.0,12300.0,...,12250.0,12400.0,12150.0,150.0,0.012346,1,27,"{'organCode': 'GELEX', 'percentPriceChange1Day...","{'organCode': 'GELEX', 'rtd7': 14183.342055693...","{'organCode': 'GELEX', 'sma20Past4': 12065.0, ..."
26,219600.0,2.817190e+09,110400.0,1.383225e+09,DIG,DIG,B·∫•t ƒë·ªông s·∫£n,2.422732e+11,19037349.0,12750.0,...,12600.0,13000.0,12400.0,250.0,0.020000,26,129,"{'organCode': 'DIG', 'percentPriceChange1Day':...","{'organCode': 'DIG', 'rtd7': 12363.9470648678,...","{'organCode': 'DIG', 'sma20Past4': 12620.0, 's..."
27,144300.0,4.794980e+09,55400.0,1.840500e+09,DGW,DGW,Ph√¢n ph·ªëi h√†ng chuy√™n d·ª•ng,2.780677e+10,837381.0,33100.0,...,33450.0,33650.0,32800.0,-200.0,-0.006006,2,30,"{'organCode': 'DGW', 'percentPriceChange1Day':...","{'organCode': 'DGW', 'rtd7': 14570.3922155445,...","{'organCode': 'DGW', 'sma20Past4': 37000.0, 's..."
28,79300.0,7.138920e+08,10700.0,9.621000e+07,AAA,AAA,"Nh·ª±a, cao su & s·ª£i",1.915633e+10,2129609.0,9000.0,...,8870.0,9020.0,8870.0,70.0,0.007839,6,73,"{'organCode': 'AAA', 'percentPriceChange1Day':...","{'organCode': 'AAA', 'rtd7': 14429.0627716582,...","{'organCode': 'AAA', 'sma20Past4': 8902.5, 'sm..."
29,65500.0,2.218905e+09,900.0,3.033000e+07,DPM,DPM,"S·∫£n ph·∫©m h√≥a d·∫ßu, N√¥ng d∆∞·ª£c & H√≥a ch·∫•t kh√°c",2.747997e+10,810848.0,33700.0,...,34100.0,34100.0,33700.0,-250.0,-0.007364,2,73,"{'organCode': 'DPM', 'percentPriceChange1Day':...","{'organCode': 'DPM', 'rtd7': 35343.2459605939,...","{'organCode': 'DPM', 'sma20Past4': 34562.5, 's..."

### 2.15.2. Foreign Trade Insights

In [28]:
fr_trade_heatmap ('All', 'FrBuyVol')

,organCode,name,value,percentPriceChange,referencePrice,matchPrice,ceilingPrice,floorPrice,industry_name,rate
0,PVD,PVD,330100.0,0.002500,20000.0,20050.0,21400.0,18600.0,D·∫ßu kh√≠,0.010930
1,PVS,PVS,300000.0,0.016129,24800.0,25200.0,27200.0,22400.0,D·∫ßu kh√≠,0.010930
2,PETRO,PLX,299700.0,0.013947,35850.0,36350.0,38350.0,33350.0,D·∫ßu kh√≠,0.010930
3,BSRC,BSR,217600.0,0.012000,15100.0,15200.0,17300.0,12900.0,D·∫ßu kh√≠,0.010930
4,PTSC,POS,500.0,-0.006000,10200.0,10200.0,11700.0,8700.0,D·∫ßu kh√≠,0.010930
...,...,...,...,...,...,...,...,...,...,...
9,PGB,PGB,23500.0,-0.001000,19200.0,19200.0,22000.0,16400.0,Ng√¢n h√†ng,-0.002991
10,None,Kh√°c,43300.0,-0.002104,0.0,0.0,0.0,0.0,Ng√¢n h√†ng,-0.002991
0,FPT,FPT,24000.0,0.007692,78000.0,78600.0,83400.0,72600.0,C√¥ng ngh·ªá Th√¥ng tin,0.006957
1,CMG,CMG,5200.0,0.001235,40500.0,40550.0,43300.0,37700.0,C√¥ng ngh·ªá Th√¥ng tin,0.006957
2,ITD,ITD,100.0,0.004464,11200.0,11250.0,11950.0,10450.0,C√¥ng ngh·ªá Th√¥ng tin,0.006957

### 2.15.3. Market latest indices & values

In [29]:
get_latest_indices()

,indexId,comGroupCode,indexValue,tradingDate,indexChange,percentIndexChange,referenceIndex,openIndex,closeIndex,highestIndex,...,foreignSellVolumeTotal,foreignTotalRoom,foreignCurrentRoom,totalStockUnderFloor,totalStockOverCeiling,matchVolume,matchValue,ceiling,floor,marketStatus
0,0,VNINDEX,1046.79,2023-03-24T00:00:00,1.69,0.001600,1045.10,1047.10,1046.79,1052.29,...,66743340.0,5.958974e+10,3.325433e+10,0.0,0.0,0.0,0.0,0.0,0.0,None
1,0,VN30,1051.42,2023-03-24T00:00:00,4.82,0.004600,1046.60,1049.05,1051.42,1056.67,...,17045040.0,2.978588e+10,1.194085e+10,0.0,0.0,0.0,0.0,0.0,0.0,None
2,0,HNXIndex,205.72,2023-03-24T00:00:00,2.40,0.011809,203.32,203.32,205.72,206.47,...,61791.0,6.139844e+09,5.390941e+09,0.0,0.0,0.0,0.0,0.0,0.0,None
3,0,HNX30,364.25,2023-03-24T00:00:00,4.24,0.011777,360.01,360.01,364.25,366.75,...,16591.0,2.235448e+09,1.905828e+09,0.0,0.0,0.0,0.0,0.0,0.0,None
4,0,UpcomIndex,76.17,2023-03-24T00:00:00,0.00,-0.000063,76.17,76.17,76.17,76.49,...,144900.0,1.473894e+10,1.324901e+10,0.0,0.0,0.0,0.0,0.0,0.0,None
5,0,VNXALL,1597.03,2023-03-24T00:00:00,8.34,0.005200,1588.69,1588.76,1597.03,1603.19,...,65363231.0,5.573736e+10,3.173402e+10,0.0,0.0,0.0,0.0,0.0,0.0,None
6,0,VN100,992.92,2023-03-24T00:00:00,4.58,0.004600,988.34,991.11,992.92,997.13,...,64424040.0,4.498177e+10,2.192622e+10,0.0,0.0,0.0,0.0,0.0,0.0,None
7,0,VNALL,998.41,2023-03-24T00:00:00,4.57,0.004600,993.84,996.74,998.41,1002.41,...,65519240.0,5.406739e+10,2.988488e+10,0.0,0.0,0.0,0.0,0.0,0.0,None
8,0,VNCOND,1337.00,2023-03-24T00:00:00,7.65,0.005800,1329.35,1327.75,1337.00,1338.75,...,2977700.0,1.870775e+09,7.865489e+08,0.0,0.0,0.0,0.0,0.0,0.0,None
9,0,VNCONS,693.77,2023-03-24T00:00:00,-3.55,-0.005100,697.32,695.66,693.77,696.36,...,1783600.0,5.746016e+09,3.361985e+09,0.0,0.0,0.0,0.0,0.0,0.0,None
10,0,VNDIAMOND,1541.16,2023-03-24T00:00:00,9.67,0.006300,1531.49,1534.78,1541.16,1543.21,...,52104740.0,1.006788e+10,5.459047e+08,0.0,0.0,0.0,0.0,0.0,0.0,None
11,0,VNENE,521.14,2023-03-24T00:00:00,3.70,0.007200,517.44,519.56,521.14,523.29,...,961700.0,7.510442e+08,3.083194e+08,0.0,0.0,0.0,0.0,0.0,0.0,None
12,0,VNFIN,1197.49,2023-03-24T00:00:00,4.72,0.004000,1192.77,1198.44,1197.49,1204.74,...,53241940.0,1.894707e+10,6.507184e+09,0.0,0.0,0.0,0.0,0.0,0.0,None
13,0,VNFINLEAD,1557.54,2023-03-24T00:00:00,8.67,0.005600,1548.87,1558.59,1557.54,1568.17,...,52686740.0,1.659031e+10,4.494380e+09,0.0,0.0,0.0,0.0,0.0,0.0,None
14,0,VNFINSELECT,1603.19,2023-03-24T00:00:00,6.31,0.004000,1596.88,1604.39,1603.19,1612.89,...,53241940.0,1.877154e+10,6.331997e+09,0.0,0.0,0.0,0.0,0.0,0.0,None
15,0,VNHEAL,1488.42,2023-03-24T00:00:00,1.83,0.001200,1486.59,1486.97,1488.42,1488.42,...,4700.0,1.994845e+08,1.178609e+08,0.0,0.0,0.0,0.0,0.0,0.0,None
16,0,VNIND,588.13,2023-03-24T00:00:00,3.30,0.005600,584.83,587.06,588.13,589.01,...,501600.0,5.497383e+09,4.253482e+09,0.0,0.0,0.0,0.0,0.0,0.0,None
17,0,VNIT,2449.84,2023-03-24T00:00:00,16.75,0.006900,2433.09,2442.99,2449.84,2457.94,...,85700.0,7.216253e+08,7.645402e+07,0.0,0.0,0.0,0.0,0.0,0.0,None
18,0,VNMAT,1457.91,2023-03-24T00:00:00,-0.74,-0.000500,1458.65,1463.65,1457.91,1467.32,...,1142600.0,6.314422e+09,4.405185e+09,0.0,0.0,0.0,0.0,0.0,0.0,None
19,0,VNMID,1289.84,2023-03-24T00:00:00,6.26,0.004900,1283.58,1288.66,1289.84,1294.13,...,47379000.0,1.519589e+10,9.985370e+09,0.0,0.0,0.0,0.0,0.0,0.0,None
20,0,VNREAL,916.06,2023-03-24T00:00:00,14.20,0.015700,901.86,903.40,916.06,921.76,...,4444300.0,1.080882e+10,7.482669e+09,0.0,0.0,0.0,0.0,0.0,0.0,None
21,0,VNSI,1616.30,2023-03-24T00:00:00,13.80,0.008600,1602.50,1607.29,1616.30,1622.13,...,9766100.0,1.400297e+10,5.431653e+09,0.0,0.0,0.0,0.0,0.0,0.0,None
22,0,VNSML,1105.46,2023-03-24T00:00:00,4.51,0.004100,1100.95,1105.66,1105.46,1107.61,...,1095200.0,9.085614e+09,7.958656e+09,0.0,0.0,0.0,0.0,0.0,0.0,None
23,0,VNUTI,880.79,2023-03-24T00:00:00,-2.81,-0.003200,883.60,883.55,880.79,887.16,...,289600.0,3.028247e+09,2.419933e+09,0.0,0.0,0.0,0.0,0.0,0.0,None
24,0,VNX50,1687.19,2023-03-24T00:00:00,8.69,0.005200,1678.50,1678.56,1687.19,1694.61,...,61887431.0,3.418751e+10,1.421275e+10,0.0,0.0,0.0,0.0,0.0,0.0,None

### 2.15.4. Market latest indices in depth data

In [30]:
get_index_series(index_code='VNINDEX', time_range='OneYear')

,comGroupCode,indexValue,tradingDate,indexChange,percentIndexChange,referenceIndex,openIndex,closeIndex,highestIndex,lowestIndex,matchVolume,matchValue,totalMatchVolume,totalMatchValue
0,VNINDEX,1483.18,2022-03-28T00:00:00,-15.32,-0.010200,1498.50,1490.44,1483.18,1496.79,1473.80,9.582808e+08,3.045603e+13,9.582808e+08,3.045603e+13
1,VNINDEX,1497.76,2022-03-29T00:00:00,14.58,0.009800,1483.18,1487.57,1497.76,1498.45,1487.57,6.611520e+08,2.166125e+13,6.611520e+08,2.166125e+13
2,VNINDEX,1490.51,2022-03-30T00:00:00,-7.25,-0.004800,1497.76,1491.92,1490.51,1503.89,1483.90,8.543700e+08,2.776987e+13,8.543700e+08,2.776987e+13
3,VNINDEX,1492.15,2022-03-31T00:00:00,1.64,0.001100,1490.51,1492.50,1492.15,1498.41,1488.27,6.039401e+08,1.997244e+13,6.039401e+08,1.997244e+13
4,VNINDEX,1516.44,2022-04-01T00:00:00,24.29,0.016279,1492.15,1492.15,1516.44,1516.87,1484.13,1.087307e+09,2.970898e+13,1.087307e+09,2.970898e+13
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
245,VNINDEX,1023.10,2023-03-20T00:00:00,-22.04,-0.021100,1045.14,1041.91,1023.10,1042.60,1022.71,4.580084e+08,7.994814e+12,4.580084e+08,7.994814e+12
246,VNINDEX,1032.43,2023-03-21T00:00:00,9.33,0.009100,1023.10,1028.83,1032.43,1036.15,1017.05,3.693500e+08,6.672996e+12,3.693500e+08,6.672996e+12
247,VNINDEX,1040.54,2023-03-22T00:00:00,8.11,0.007900,1032.43,1035.84,1040.54,1042.84,1033.73,3.686006e+08,7.058305e+12,3.686006e+08,7.058305e+12
248,VNINDEX,1045.10,2023-03-23T00:00:00,4.56,0.004400,1040.54,1035.33,1045.10,1045.10,1030.93,3.593675e+08,6.534920e+12,3.593675e+08,6.534920e+12
249,VNINDEX,1046.79,2023-03-24T00:00:00,1.69,0.001600,1045.10,1047.10,1046.79,1052.29,1044.02,4.920244e+08,8.140694e+12,4.920244e+08,8.140694e+12