<a target="_blank" href="https://colab.research.google.com/github/thinh-vu/vnstock/blob/beta/demo/gen2_vnstock_demo_index_all_functions_testing_2023.ipynb">
  <img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/>
</a>

# I. Introduction

B·∫°n c√≥ th·ªÉ tham kh·∫£o video h∆∞·ªõng d·∫´n t·ªïng quan v·ªÅ vnstock ƒë·ªÉ b·∫Øt ƒë·∫ßu d·ªÖ d√†ng [t·∫°i ƒë√¢y](https://www.youtube.com/watch?v=6kP2TTtEY9Y&ab_channel=LEarnAnything)

In [ ]:
# C√†i ƒë·∫∑t th∆∞ vi·ªán vnstock t·ª´ Pypi - b·∫£n ·ªïn ƒë·ªãnh | Install vnstock from Pypi - stable version
!pip install --upgrade vnstock

In [3]:
from vnstock import * #import all functions

# II. Functions grouping

Vi: Thu g·ªçn to√†n b·ªô code ·ªü m·ª•c n√†y, ch·∫°y code m·ªôt l·∫ßn duy nh·∫•t, n·∫øu code ch·∫°y ƒë·∫øn cu·ªëi file th√†nh c√¥ng th√¨ th∆∞ vi·ªán vnstock ho·∫°t ƒë·ªông b√¨nh th∆∞·ªùng. **Google Colab ƒë∆∞·ª£c ch·ªçn l√† m√¥i tr∆∞·ªùng ti√™u chu·∫©n ƒë·ªÉ s·ª≠ d·ª•ng vnstock v√† debug l·ªói.**

En: `Collapse all the code in this section, run the code only once, if the code runs to the end of the file successfully, then the vnstock library will work normally in most cases`

## 2.1. Stock listing

#### üì∞ All listing companies

In [26]:
listing_companies()

,ticker,comGroupCode,organName,organShortName,organTypeCode,comTypeCode,icbName,icbNamePath,sector,industry,...,VNCOND,VNCONS,VNENE,VNFIN,VNHEAL,VNIND,VNIT,VNMAT,VNREAL,VNUTI
0,VVS,UpcomIndex,C√¥ng ty C·ªï ph·∫ßn ƒê·∫ßu t∆∞ Ph√°t tri·ªÉn M√°y Vi·ªát Nam,ƒê·∫ßu t∆∞ Ph√°t tri·ªÉn M√°y Vi·ªát Nam,DN,CT,S·∫£n xu·∫•t √¥ t√¥,H√†ng Ti√™u d√πng/√î t√¥ v√† ph·ª• t√πng/√î t√¥ v√† ph·ª• t√π...,H√†ng Ti√™u d√πng,√î t√¥ v√† ph·ª• t√πng,...,False,False,False,False,False,False,False,False,False,False
1,XDC,UpcomIndex,C√¥ng ty C·ªï ph·∫ßn X√¢y d·ª±ng C√¥ng tr√¨nh T√¢n C·∫£ng,X√¢y d·ª±ng C√¥ng tr√¨nh T√¢n C·∫£ng,DN,CT,X√¢y d·ª±ng,C√¥ng nghi·ªáp/X√¢y d·ª±ng v√† V·∫≠t li·ªáu/X√¢y d·ª±ng v√† V...,C√¥ng nghi·ªáp,X√¢y d·ª±ng v√† V·∫≠t li·ªáu,...,False,False,False,False,False,False,False,False,False,False
2,HSV,UpcomIndex,C√¥ng ty C·ªï ph·∫ßn T·∫≠p ƒëo√†n HSV Vi·ªát Nam,Gang Th√©p H√† N·ªôi,DN,CT,Th√©p v√† s·∫£n ph·∫©m th√©p,Nguy√™n v·∫≠t li·ªáu/T√†i nguy√™n C∆° b·∫£n/Kim lo·∫°i/Th√©...,Nguy√™n v·∫≠t li·ªáu,T√†i nguy√™n C∆° b·∫£n,...,False,False,False,False,False,False,False,False,False,False
3,CST,UpcomIndex,C√¥ng ty C·ªï ph·∫ßn Than Cao S∆°n - TKV,Than Cao S∆°n - TKV,DN,CT,Khai th√°c Than,Nguy√™n v·∫≠t li·ªáu/T√†i nguy√™n C∆° b·∫£n/Khai kho√°ng/...,Nguy√™n v·∫≠t li·ªáu,T√†i nguy√™n C∆° b·∫£n,...,False,False,False,False,False,False,False,False,False,False
4,BVL,UpcomIndex,C√¥ng ty C·ªï ph·∫ßn BV Land,BV Land,DN,CT,"T∆∞ V·∫•n, ƒê·ªãnh gi√°, M√¥i gi·ªõi B·∫•t ƒë·ªông s·∫£n","T√†i ch√≠nh/B·∫•t ƒë·ªông s·∫£n/B·∫•t ƒë·ªông s·∫£n/T∆∞ V·∫•n, ƒê·ªã...",T√†i ch√≠nh,B·∫•t ƒë·ªông s·∫£n,...,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1607,XMP,UpcomIndex,C√¥ng ty C·ªï ph·∫ßn Th·ªßy ƒëi·ªán Xu√¢n Minh,Th·ªßy ƒëi·ªán Xu√¢n Minh,DN,CT,S·∫£n xu·∫•t & Ph√¢n ph·ªëi ƒêi·ªán,"Ti·ªán √≠ch C·ªông ƒë·ªìng/ƒêi·ªán, n∆∞·ªõc & xƒÉng d·∫ßu kh√≠ ƒë...",Ti·ªán √≠ch C·ªông ƒë·ªìng,"ƒêi·ªán, n∆∞·ªõc & xƒÉng d·∫ßu kh√≠ ƒë·ªët",...,False,False,False,False,False,False,False,False,False,False
1608,YBC,UpcomIndex,C√¥ng ty C·ªï ph·∫ßn Xi mƒÉng v√† Kho√°ng s·∫£n Y√™n B√°i,Xi mƒÉng v√† Kho√°ng s·∫£n Y√™n B√°i,DN,CT,V·∫≠t li·ªáu x√¢y d·ª±ng & N·ªôi th·∫•t,C√¥ng nghi·ªáp/X√¢y d·ª±ng v√† V·∫≠t li·ªáu/X√¢y d·ª±ng v√† V...,C√¥ng nghi·ªáp,X√¢y d·ª±ng v√† V·∫≠t li·ªáu,...,False,False,False,False,False,False,False,False,False,False
1609,YBM,VNINDEX,C√¥ng ty C·ªï ph·∫ßn Kho√°ng s·∫£n C√¥ng nghi·ªáp Y√™n B√°i,Kho√°ng s·∫£n CN Y√™n B√°i,DN,CT,Khai kho√°ng,Nguy√™n v·∫≠t li·ªáu/T√†i nguy√™n C∆° b·∫£n/Khai kho√°ng/...,Nguy√™n v·∫≠t li·ªáu,T√†i nguy√™n C∆° b·∫£n,...,False,False,False,False,False,False,False,False,False,False
1610,YEG,VNINDEX,C√¥ng ty C·ªï ph·∫ßn T·∫≠p ƒëo√†n Yeah1,T·∫≠p ƒëo√†n Yeah1,DN,CT,Gi·∫£i tr√≠ & Truy·ªÅn th√¥ng,D·ªãch v·ª• Ti√™u d√πng/Truy·ªÅn th√¥ng/Truy·ªÅn th√¥ng/Gi...,D·ªãch v·ª• Ti√™u d√πng,Truy·ªÅn th√¥ng,...,False,False,False,False,False,False,False,False,False,False
1611,YTC,UpcomIndex,C√¥ng ty C·ªï ph·∫ßn Xu·∫•t nh·∫≠p kh·∫©u Y t·∫ø Th√†nh ph·ªë ...,XNK Y t·∫ø TP.HCM,DN,CT,D·ª•ng c·ª• y t·∫ø,D∆∞·ª£c ph·∫©m v√† Y t·∫ø/Y t·∫ø/Thi·∫øt b·ªã v√† D·ªãch v·ª• Y t...,D∆∞·ª£c ph·∫©m v√† Y t·∫ø,Y t·∫ø,...,False,False,False,False,False,False,False,False,False,False

## 2.2. üí¥ Fundamental Analysis

### Company profile

#### Company overview

In [27]:
company_overview('TCB')

,exchange,shortName,industryID,industryIDv2,industry,industryEn,establishedYear,noEmployees,noShareholders,foreignPercent,website,stockRating,deltaInWeek,deltaInMonth,deltaInYear,outstandingShare,issueShare,companyType,ticker
0,HOSE,Techcombank,289,8355,Ng√¢n h√†ng,Banks,1993,9757,1901,0.225,http://www.techcombank.com.vn,4.2,0.015,0.021,-0.09,3517.2,3517.2,NH,TCB

### üßß L·ªãch s·ª≠ chi tr·∫£ c·ªï t·ª©c

In [28]:
dividend_history("VNM")

   exerciseDate  cashYear  cashDividendPercentage issueMethod
0      03/08/23      2022                   0.095        cash
1      03/08/23      2023                   0.150        cash
2      22/12/22      2022                   0.140        cash
3      06/07/22      2021                   0.095        cash
4      06/07/22      2022                   0.150        cash
5      10/01/22      2021                   0.140        cash
6      07/09/21      2021                   0.150        cash
7      07/06/21      2020                   0.110        cash
8      05/01/21      2020                   0.100        cash
9      29/09/20      2020                   0.200        cash
10     29/06/20      2019                   0.150        cash
11     26/12/19      2019                   0.100        cash
12     16/09/19      2019                   0.200        cash
13     05/06/19      2018                   0.150        cash
14     27/12/18      2018                   0.100        cash
15     05/09/18      2018                   0.200        cash
16     05/06/18      2017                   0.150        cash
17     28/12/17      2017                   0.150        cash
18     14/08/17      2017                   0.200        cash
19     04/05/17      2016                   0.200        cash

### Financial analysis

#### Financial Ratio (TCBS)

In [29]:
financial_ratio("TCB", 'quarterly', True)

range,Q2-2023,Q1-2023,Q4-2022,Q3-2022,Q2-2022,Q1-2022,Q4-2021,Q3-2021,Q2-2021,Q1-2021,...,Q4-2015,Q3-2015,Q2-2015,Q1-2015,Q4-2014,Q3-2014,Q2-2014,Q1-2014,Q4-2013,Q3-2013
ticker,TCB,TCB,TCB,TCB,TCB,TCB,TCB,TCB,TCB,TCB,...,TCB,TCB,TCB,TCB,TCB,TCB,TCB,TCB,TCB,TCB
quarter,Q2,Q1,Q4,Q3,Q2,Q1,Q4,Q3,Q2,Q1,...,Q4,Q3,Q2,Q1,Q4,Q3,Q2,Q1,Q4,Q3
year,2023,2023,2022,2022,2022,2022,2021,2021,2021,2021,...,2015,2015,2015,2015,2014,2014,2014,2014,2013,2013
priceToEarning,6.5,5.2,4.5,5.4,6.2,9.1,9.7,10.0,11.5,10.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
priceToBook,0.9,0.8,0.8,1.0,1.2,1.8,1.9,2.0,2.2,1.8,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
roe,0.158,0.178,0.197,0.216,0.217,0.217,0.217,0.221,0.215,0.2,...,0.1,0.09,0.075,0.059,0.075,0.07,0.063,0.055,0.047,-0.047
roa,0.026,0.029,0.032,0.035,0.036,0.036,0.036,0.037,0.036,0.033,...,0.009,0.008,0.007,0.005,0.006,0.006,0.005,0.005,0.004,-0.004
earningPerShare,5059,5442,5729,6026,5753,5443,5128,4946,4594,4055,...,451,395,326,247,308,284,253,219,182,-190
bookValuePerShare,34818,33539,32248,31245,29703,28029,26457,25128,23854,22487,...,4707,4602,4487,4356,4272,4221,4175,4115,3964,3944
interestMargin,0.044,0.047,0.053,0.056,0.058,0.057,0.057,0.057,0.056,0.052,...,0.043,0.043,0.044,0.041,0.039,0.036,0.031,0.03,0.03,0.029
nonInterestOnToi,0.325,0.298,0.277,0.268,0.287,0.189,0.287,0.232,0.284,0.314,...,0.17,0.257,0.196,0.292,0.181,0.228,0.169,0.161,0.186,0.206
badDebtPercentage,0.011,0.008,0.009,0.006,0.006,0.007,0.007,0.006,0.004,0.004,...,0.017,0.023,0.024,0.026,0.024,0.03,0.041,0.046,0.037,0.059
provisionOnBadDebt,1.156,1.338,1.25,1.65,1.716,1.608,1.629,1.844,2.589,2.194,...,0.625,0.529,0.472,0.485,0.501,0.452,0.368,0.386,0.462,0.373
costOfFinancing,0.044,0.035,0.028,0.023,0.022,0.021,0.022,0.023,0.025,0.028,...,0.038,0.042,0.044,0.045,0.048,0.05,0.052,0.055,0.059,0.063
equityOnTotalAsset,0.167,0.163,0.162,0.164,0.167,0.16,0.164,0.163,0.166,0.171,...,0.086,0.092,0.091,0.085,0.085,0.087,0.086,0.088,0.088,0.083
equityOnLoan,0.262,0.253,0.27,0.268,0.267,0.27,0.268,0.275,0.268,0.267,...,0.148,0.172,0.173,0.172,0.187,0.207,0.198,0.201,0.198,0.198
costToIncome,0.308,0.338,0.423,0.292,0.292,0.3,0.334,0.299,0.281,0.287,...,0.467,0.431,0.372,0.316,0.566,0.369,0.502,0.512,0.588,0.68
equityOnLiability,0.2,0.2,0.2,0.2,0.2,0.2,0.2,0.2,0.2,0.2,...,0.1,0.1,0.1,0.1,0.1,0.1,0.1,0.1,0.1,0.1
epsChange,-0.07,-0.05,-0.049,0.047,0.057,0.061,0.037,0.077,0.133,0.157,...,0.141,0.211,0.317,-0.196,0.084,0.122,0.156,0.199,-1.958,4.569
assetOnEquity,6.0,6.1,6.2,6.1,6.0,6.2,6.1,6.1,6.0,5.9,...,11.6,10.8,11.0,11.7,11.7,11.5,11.7,11.4,11.4,12.0
preProvisionOnToi,0.552,0.534,0.434,0.566,0.569,0.579,0.508,0.558,0.574,0.578,...,0.412,0.442,0.494,0.525,0.308,0.477,0.388,0.38,0.309,0.176
postTaxOnToi,0.483,0.488,0.379,0.519,0.538,0.561,0.461,0.505,0.522,0.501,...,0.151,0.192,0.229,0.119,0.093,0.078,0.139,0.341,0.071,0.042
loanOnEarnAsset,0.718,0.725,0.684,0.698,0.695,0.643,0.665,0.644,0.677,0.696,...,0.638,0.594,0.581,0.55,0.51,0.471,0.49,0.502,0.509,0.488
loanOnAsset,0.637,0.643,0.602,0.612,0.628,0.594,0.611,0.593,0.622,0.64,...,0.581,0.536,0.526,0.495,0.457,0.419,0.433,0.438,0.442,0.422
loanOnDeposit,1.221,1.202,1.173,1.287,1.218,1.112,1.104,1.015,1.084,1.031,...,0.785,0.687,0.705,0.699,0.611,0.587,0.593,0.579,0.586,0.597
depositOnEarnAsset,0.588,0.603,0.583,0.542,0.571,0.578,0.602,0.634,0.625,0.675,...,0.813,0.864,0.824,0.786,0.835,0.803,0.826,0.867,0.869,0.817
badDebtOnAsset,0.007,0.005,0.005,0.004,0.004,0.004,0.004,0.003,0.002,0.002,...,0.01,0.012,0.013,0.013,0.011,0.012,0.018,0.02,0.016,0.025
liquidityOnLiability,0.319,0.305,0.347,0.329,0.343,0.404,0.382,0.405,0.37,0.354,...,0.38,0.426,0.438,0.463,0.501,0.531,0.513,0.499,0.493,0.509
payableOnEquity,5.0,5.1,5.2,5.1,5.0,5.2,5.1,5.1,5.0,4.9,...,10.6,9.8,10.0,10.7,10.7,10.5,10.7,10.4,10.4,11.0
cancelDebt,0.002,0.002,0.002,0.002,0.002,0.002,0.004,0.004,0.008,0.012,...,0.036,0.039,0.047,0.047,0.033,0.038,0.02,0.019,0.02,0.022
bookValuePerShareChange,0.038,0.04,0.032,0.052,0.06,0.059,0.053,0.053,0.061,0.06,...,0.023,0.026,0.03,0.02,0.012,0.011,0.015,0.038,0.005,0.005
creditGrowth,0.191,0.273,0.211,0.279,0.25,0.234,0.252,0.392,0.353,0.277,...,0.39,0.314,0.228,0.235,0.143,0.022,0.06,0.05,0.029,0.141

#### Financial report
> Income Statement, Balance Sheet, Cashflow

In [30]:
# B·ªï sung param `get_all` ƒë·ªÉ l·∫•y t·∫•t c·∫£ b√°o c√°o ho·∫∑c 5 nƒÉm g·∫ßn nh·∫•t ho·∫∑c 10 qu√Ω g·∫ßn nh·∫•t
financial_flow(symbol="TCB", report_type='incomestatement', report_range='quarterly', get_all=False)

,ticker,revenue,yearRevenueGrowth,quarterRevenueGrowth,costOfGoodSold,grossProfit,operationExpense,operationProfit,yearOperationProfitGrowth,quarterOperationProfitGrowth,...,postTaxProfit,shareHolderIncome,yearShareHolderIncomeGrowth,quarterShareHolderIncomeGrowth,investProfit,serviceProfit,otherProfit,provisionExpense,operationIncome,ebitda
index,,,,,,,,,,,,,,,,,,,,,
2023-Q2,TCB,6295,-0.192,-0.036,None,None,-2869,9325,-0.147,0.003,...,4503,4455,-0.232,-0.009,72,2019,939,-807,6456,None
2023-Q1,TCB,6527,-0.195,-0.043,None,None,-3142,9300,-0.071,-0.014,...,4537,4497,-0.183,0.269,-228,1944,1057,-535,6158,None
2022-Q4,TCB,6819,-0.059,-0.099,None,None,-3990,9427,-0.072,-0.088,...,3572,3544,-0.228,-0.331,-422,2535,495,-691,5437,None
2022-Q3,TCB,7565,0.122,-0.029,None,None,-3014,10338,0.178,-0.055,...,5368,5298,0.221,-0.087,209,2123,441,-609,7324,None
2022-Q2,TCB,7794,0.183,-0.039,None,None,-3196,10934,0.188,0.093,...,5882,5804,0.232,0.054,411,1987,743,-417,7739,None
2022-Q1,TCB,8111,0.325,0.120,None,None,-3003,10006,0.120,-0.015,...,5615,5505,0.252,0.199,-280,1687,488,-218,7004,None
2021-Q4,TCB,7245,0.328,0.074,None,None,-3392,10159,0.309,0.157,...,4684,4592,0.162,0.059,279,2103,532,-627,6767,None
2021-Q3,TCB,6742,0.310,0.023,None,None,-2628,8779,0.171,-0.046,...,4432,4338,0.400,-0.079,384,1497,156,-589,6151,None
2021-Q2,TCB,6588,0.674,0.076,None,None,-2591,9206,0.562,0.031,...,4807,4711,0.672,0.072,717,1457,444,-598,6615,None
2021-Q1,TCB,6124,0.454,0.122,None,None,-2563,8932,0.481,0.151,...,4476,4397,0.790,0.112,812,1325,671,-851,6369,None

In [31]:
financial_flow(symbol="TCB", report_type='balancesheet', report_range='quarterly', get_all=False)

,ticker,shortAsset,cash,shortInvest,shortReceivable,inventory,longAsset,fixedAsset,asset,debt,...,oweCentralBank,valuablePaper,payableInterest,receivableInterest,deposit,otherDebt,fund,unDistributedIncome,minorShareHolderProfit,payable
index,,,,,,,,,,,,,,,,,,,,,
2023-Q2,TCB,None,3113,None,None,None,None,8742,732470,610005,...,136,54958,8118,8875,381947,54958,43387,41654,1218,610005
2023-Q1,TCB,None,2852,None,None,None,None,8275,723518,605552,...,122,46729,8303,8365,387298,46729,11607,68979,1170,605552
2022-Q4,TCB,None,4216,None,None,None,None,8411,699033,585608,...,8,34007,6144,8029,358404,34007,11609,64483,1129,585608
2022-Q3,TCB,None,3026,None,None,None,None,7282,671354,561454,...,6,42858,4750,8681,318919,42858,9151,64059,1032,561454
2022-Q2,TCB,None,3204,None,None,None,None,7220,623739,519263,...,2,37122,3375,8072,321634,37122,9152,58761,963,519263
2022-Q1,TCB,None,3277,None,None,None,None,7265,615270,516684,...,223,32731,3369,7253,328914,32731,9156,52958,884,516684
2021-Q4,TCB,None,3579,None,None,None,None,7224,568811,475756,...,1,33680,3098,5808,314753,33680,9156,47469,845,475756
2021-Q3,TCB,None,3303,None,None,None,None,7106,541635,453251,...,15,34003,3074,6224,316376,34003,6784,45261,753,453251
2021-Q2,TCB,None,3554,None,None,None,None,6739,504304,420403,...,0,27678,2643,5736,289335,27678,6790,40924,659,420403
2021-Q1,TCB,None,4273,None,None,None,None,4726,462823,383730,...,2,26035,2897,5664,287446,26035,6790,36213,563,383730

In [32]:
financial_flow(symbol="TCB", report_type='cashflow', report_range='quarterly', get_all=False)

        ticker  investCost  fromInvest  fromFinancial  fromSale  freeCashFlow
index
2023-Q2    TCB        -395       -3042              0     -2480             0
2023-Q1    TCB         -73         260              1    -21875             0
2022-Q4    TCB        -720        -679           -700     19130             0
2022-Q3    TCB        -212        -205             63     15950             0
2022-Q2    TCB         -65         -62              0     -4020             0
2022-Q1    TCB        -113        -111            -73     24408             0
2021-Q4    TCB        -280        -276              0     -9328             0
2021-Q3    TCB        -180        -179             60     17974             0
2021-Q2    TCB        -337        -282              0     11205             0
2021-Q1    TCB        -143        -143              0     -6954             0

## 2.3. Technical Analysis

### üìà Historical Price

In [33]:
stock_historical_data("GMD", "2021-01-01", "2022-02-25", "1D")

           time   open   high    low  close   volume ticker
0    2021-01-04  31390  32340  31200  31490  4226500    GMD
1    2021-01-05  31490  32770  31150  32150  4851900    GMD
2    2021-01-06  32530  32530  31490  31770  3641300    GMD
3    2021-01-07  32060  32820  30920  32340  5753700    GMD
4    2021-01-08  32720  33100  31870  32250  4587500    GMD
..          ...    ...    ...    ...    ...      ...    ...
279  2022-02-21  50530  51210  49950  49950  1489200    GMD
280  2022-02-22  49260  51120  48290  50920  3583400    GMD
281  2022-02-23  50920  51990  50630  50820  2823400    GMD
282  2022-02-24  50240  51510  48970  50140  2961300    GMD
283  2022-02-25  50730  51410  48970  49260  2841200    GMD

[284 rows x 7 columns]

In [34]:
stock_historical_data("VNINDEX", "2023-06-01", "2023-06-29", "1D", "index")

          time     open     high      low    close      volume   ticker
0   2023-06-01  1076500  1078390  1071610  1078390   852591680  VNINDEX
1   2023-06-02  1084190  1092240  1083360  1090840  1025982016  VNINDEX
2   2023-06-05  1099660  1103810  1096760  1097820   942253440  VNINDEX
3   2023-06-06  1098800  1108310  1098280  1108310   837786240  VNINDEX
4   2023-06-07  1110790  1112280  1104260  1109540   995078784  VNINDEX
5   2023-06-08  1111730  1115140  1101320  1101320  1321305344  VNINDEX
6   2023-06-09  1103010  1107530  1097230  1107530   897118528  VNINDEX
7   2023-06-12  1110260  1116020  1100080  1116020   783528704  VNINDEX
8   2023-06-13  1117330  1122460  1116100  1122460   940781824  VNINDEX
9   2023-06-14  1124560  1129490  1117420  1117420   915957312  VNINDEX
10  2023-06-15  1116990  1120130  1112110  1116970   703437888  VNINDEX
11  2023-06-16  1117080  1128920  1112510  1115220  1157762560  VNINDEX
12  2023-06-19  1115590  1117230  1104730  1105400   807629888  VNINDEX
13  2023-06-20  1107300  1111720  1102580  1111720   689274560  VNINDEX
14  2023-06-21  1112730  1118460  1110650  1118460   868996480  VNINDEX
15  2023-06-22  1126210  1127540  1122270  1125300   905032832  VNINDEX
16  2023-06-23  1126400  1130610  1122620  1129380   901592384  VNINDEX
17  2023-06-26  1129380  1134000  1119950  1132030  1035697024  VNINDEX
18  2023-06-27  1134360  1136490  1128820  1134330   711965952  VNINDEX
19  2023-06-28  1135780  1140560  1131860  1138350   871618048  VNINDEX
20  2023-06-29  1139420  1140430  1125390  1125390   902448832  VNINDEX

In [35]:
stock_historical_data (symbol='VN30F1M', start_date='2023-06-01', end_date='2023-06-17', resolution='1D', type='derivative')

          time  open  high   low  close  volume   ticker
0   2023-06-01  1062  1065  1056   1065  151091  VN30F1M
1   2023-06-02  1069  1084  1068   1078  212092  VN30F1M
2   2023-06-05  1082  1091  1082   1087  150708  VN30F1M
3   2023-06-06  1085  1096  1084   1096  154919  VN30F1M
4   2023-06-07  1099  1100  1093   1098  157620  VN30F1M
5   2023-06-08  1098  1100  1089   1089  146445  VN30F1M
6   2023-06-09  1089  1095  1087   1095  145563  VN30F1M
7   2023-06-12  1098  1109  1091   1108  157940  VN30F1M
8   2023-06-13  1109  1116  1106   1115  172871  VN30F1M
9   2023-06-14  1115  1123  1112   1112  184853  VN30F1M
10  2023-06-15  1110  1117  1108   1109  149860  VN30F1M
11  2023-06-16  1104  1122  1101   1102  245434  VN30F1M

## 2.4. üëì Stock screening

### Comparison

#### üìä Price Table

In [36]:
price_depth('TCB,SSI,VND')

,M√£ CP,Gi√° tham chi·∫øu,Gi√° Tr·∫ßn,Gi√° S√†n,Gi√° mua 3,KL mua 3,Gi√° mua 2,KL mua 2,Gi√° mua 1,KL mua 1,...,Gi√° b√°n 1,KL b√°n 1,Gi√° b√°n 2,KL b√°n 2,Gi√° b√°n 3,KL b√°n 3,T·ªïng Kh·ªëi L∆∞·ª£ng,ƒêTNN Mua,ƒêTNN B√°n,ƒêTNN Room
0,TCB,32750,35000,30500,33100,11100,33000,690,32950,3910,...,33150,1410,33200,840,33250,510,671640,0,0,0
1,SSI,28850,30850,26850,30700,4070,30650,2080,30600,46760,...,30750,2390,30800,73720,30850,93640,5181060,161413,239933,810062087
2,VND,20450,21850,19050,20950,94710,20900,61200,20850,65330,...,21000,34170,21050,21510,21100,26150,4274620,51810,264325,933950559

In [37]:
price_board('TCB,SSI,VND')

,M√£ CP,Gi√°,KLBD/TB5D,T.ƒë·ªô GD,KLGD r√≤ng(CM),%KLGD r√≤ng (CM),RSI,MACD Hist,MACD Signal,T√≠n hi·ªáu KT,...,Kh·ªõp nhi·ªÅu nh·∫•t,ƒê.g√≥p VNINDEX,%Gi√° - %VNI (1M),%Gi√° - %VNI (1Y),VNINDEX P/E,VNINDEX P/B,vnid3d,vnid1m,vnid3m,vnid1y
0,TCB,33100.0,0.81,1.36,-177200,-28.8,47.917142,-0.18,Sell,Neutral,...,32000,0.31,2.1,-9.0,14.7377,1.68133,-4.4,0.6,10.6,-7.0
1,SSI,30700.0,1.54,2.46,571700,12.5,62.430491,-0.01,Neutral,Neutral,...,30700,0.70,2.4,26.3,14.7377,1.68133,-4.4,0.6,10.6,-7.0
2,VND,21000.0,1.13,1.42,224000,6.8,57.887848,-0.02,Neutral,Buy,...,20500,0.17,12.1,-2.7,14.7377,1.68133,-4.4,0.6,10.6,-7.0

#### üè≠ Industry Analysis

In [38]:
industry_analysis("VNM")

M√£ CP,VNM,MSN,MCH,QNS,KDC,IDP,VSF,SBT,MML,PAN,MCM,VOC,VSN,OCH,CLX,LSS,KTC,HSL,HKB
V·ªën h√≥a (t·ª∑),152358,112178,56268,16712,16128,13098,12201,10885,9974,4449,4165,2590,1701,1580,1257,868,419,314,41
Gi√°,72900,78400,78526,46821,62700,222200,24401,14700,30488,21300,37863,21263,21023,7900,14519,11650,11500,8880,800
S·ªë phi√™n tƒÉng/gi·∫£m li√™n ti·∫øp,-2,-2,-2,0,0,0,1,-4,-3,1,-3,-2,1,-5,-5,-4,0,-2,0
P/E,18.5,85.6,9.0,9.4,42.3,16.2,-1488.8,19.7,-20.7,15.3,11.4,2.4,12.7,11.1,7.0,41.4,-119.8,26.0,-0.7
PEG,-1.4,-1.0,0.9,0.2,-1.3,-2.4,15.5,-0.6,0.1,-0.6,5.3,0.0,-4.2,0.0,3.0,-0.8,1.1,-0.9,0.7
P/B,4.6,4.2,2.3,2.2,2.1,6.6,5.4,1.2,1.9,1.0,1.8,1.0,1.4,1.2,0.8,0.5,1.1,0.7,0.2
EV/EBITDA,14.0,21.0,8.7,8.3,711.8,12.9,53.3,10.6,-1210.3,9.5,11.5,-6.7,9.5,6.0,10.0,7.0,23.7,16.3,-3.0
C·ªï t·ª©c,0.052,0.009,0.0,0.0,0.086,0.033,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
ROE,0.243,0.047,0.287,0.243,0.054,0.459,-0.004,0.061,-0.09,0.066,0.165,0.518,0.109,0.115,0.115,0.013,-0.009,0.029,-0.281
ROA,0.157,0.01,0.183,0.159,0.029,0.213,-0.001,0.019,-0.038,0.017,0.144,0.462,0.069,0.063,0.082,0.008,-0.003,0.026,-0.155
Thanh to√°n l√£i vay,26.3,0.6,12.2,15.0,-2.6,21.7,1.0,0.9,-0.8,1.7,NaN,-245.5,58.4,0.6,19.9,1.7,0.5,5.7,-4.3
Thanh to√°n hi·ªán h√†nh,2.4,0.8,2.6,2.0,1.9,1.3,1.0,1.2,1.3,1.2,6.8,7.5,2.5,2.0,2.7,1.3,0.9,13.4,0.3
Thanh to√°n nhanh,2.0,0.6,2.4,1.5,1.6,1.1,0.4,0.9,1.1,0.9,6.0,7.2,1.7,1.7,2.6,0.4,0.3,11.4,0.3
Bi√™n LNG,0.405,0.286,0.46,0.316,0.131,0.396,0.085,0.118,0.114,0.195,0.314,NaN,0.232,0.333,0.29,0.069,0.037,0.041,0.729
Bi√™n LNST,0.145,0.006,0.251,0.226,0.286,0.133,0.0,0.011,NaN,0.023,0.117,NaN,0.035,0.181,0.344,0.009,0.001,0.023,NaN
N·ª£/V·ªën CSH,0.2,1.8,0.3,0.4,0.4,0.5,1.8,1.1,1.1,1.2,0.0,0.0,0.0,0.1,0.0,0.4,1.7,0.0,0.5
N·ª£/EBITDA,0.7,7.2,1.1,1.2,134.5,0.8,12.3,5.9,-407.3,4.2,0.0,-0.2,0.8,0.7,0.4,2.8,16.3,0.6,-2.0
LNST 5 nƒÉm,-0.037,0.028,0.207,0.046,-0.04,NaN,NaN,0.12,NaN,0.001,0.098,NaN,0.012,NaN,0.065,-0.1,-0.157,-0.081,NaN
Doanh thu 5 nƒÉm,0.033,0.152,0.153,0.016,0.123,NaN,-0.053,0.22,-0.239,0.274,0.049,-0.181,-0.002,-0.018,0.088,-0.008,0.067,0.16,-0.474
LNST qu√Ω g·∫ßn nh·∫•t,0.184,-0.51,0.179,1.25,NaN,0.073,NaN,-0.5,NaN,0.627,-0.088,NaN,-0.197,NaN,-0.059,-0.114,-0.82,-0.141,NaN
Doanh thu qu√Ω g·∫ßn nh·∫•t,0.092,-0.005,0.073,0.48,0.125,0.113,0.537,0.191,0.064,0.097,0.076,1.434,-0.096,0.131,0.015,0.774,0.048,-0.104,0.004
LNST nƒÉm t·ªõi,0.005,-0.608,0.26,0.503,0.294,0.074,-0.939,0.047,-0.719,-0.041,0.083,0.116,-0.034,6.025,0.09,1.074,0.813,0.022,NaN
Doanh thu nƒÉm t·ªõi,0.05,0.05,0.3,0.31,-0.3,0.1,0.03,0.1,-0.7,0.05,0.05,0.15,0.1,-0.5,0.3,0.05,-0.06,0.02,NaN
RSI,53.3,37.8,52.1,32.5,35.6,45.4,55.6,31.2,42.8,39.7,34.4,17.1,51.8,35.9,30.6,31.5,80.2,65.0,27.3
rs,70.0,42.0,56.0,43.0,46.0,40.0,82.0,28.0,20.0,53.0,36.0,38.0,45.0,37.0,32.0,31.0,52.0,NaN,70.0

#### üî¨ Stocks List Analysis

In [39]:
stock_ls_analysis("TCB, BID, CEO, GMD")

M√£ CP                            BID    CEO    GMD     TCB
V·ªën h√≥a (t·ª∑)                  230669  13044  16335  115190
Gi√°                            45600  25600  54200   32750
S·ªë phi√™n tƒÉng/gi·∫£m li√™n ti·∫øp       1      1      1       1
P/E                             11.3   44.6    7.2     6.5
PEG                              0.2    2.6    0.0    -0.5
P/B                              2.0    3.9    1.9     0.9
C·ªï t·ª©c                           0.0    0.0    0.0     0.0
ROE                            0.203  0.092  0.292   0.158
ROA                             0.01  0.041   0.18   0.026
N·ª£/V·ªën CSH                      17.6    0.2    0.2     5.0
LNST 5 nƒÉm                     0.218  0.094  0.144   0.256
Doanh thu 5 nƒÉm                0.123  0.068 -0.004     0.2
LNST qu√Ω g·∫ßn nh·∫•t             -0.008  0.658  7.143  -0.009
Doanh thu qu√Ω g·∫ßn nh·∫•t        -0.001 -0.073  0.011   0.003
LNST nƒÉm t·ªõi                  -0.023 -0.012 -0.087  -0.084
Doanh thu nƒÉm t·ªõi              0.124   -0.1    0.0   0.084
RSI                             44.1   74.6   42.9    45.1
RS                              55.0   85.0   52.0    49.0

### Rating & Evaluation

#### ‚≠êGeneral Rating

In [40]:
general_rating("VNM")

,stockRating,valuation,financialHealth,businessModel,businessOperation,rsRating,taScore,ticker,highestPrice,lowestPrice,priceChange3m,priceChange1y,beta,alpha
0,3.7,1.4,4.8,3.9,2.8,2.2,1.0,VNM,80815.2,63390.9,0.104,0.045,0.43,0.0016

#### üå± Business Model Rating

In [41]:
biz_model_rating("VNM")

,ticker,businessModel,businessEfficiency,assetQuality,cashFlowQuality,bom,businessAdministration,productService,businessAdvantage,companyPosition,industry,operationRisk
0,VNM,3.9,3,4,4,4,4,4,4,4,4,4

#### üéÆ Business Operation Rating

In [42]:
biz_operation_rating("VNM")

,industryEn,loanGrowth,depositGrowth,netInterestIncomeGrowth,netInterestMargin,costToIncome,netIncomeTOI,ticker,businessOperation,avgROE,avgROA,last5yearsNetProfitGrowth,last5yearsRevenueGrowth,last5yearsOperatingProfitGrowth,last5yearsEBITDAGrowth,last5yearsFCFFGrowth,lastYearGrossProfitMargin,lastYearOperatingProfitMargin,lastYearNetProfitMargin,TOIGrowth
0,Food Products,None,None,None,None,None,None,VNM,2.8,5,5,1,2,1,1,2,4,3,3,None

#### üìë Financial Health Rating

In [43]:
financial_health_rating("VNM")

,industryEn,loanDeposit,badLoanGrossLoan,badLoanAsset,provisionBadLoan,ticker,financialHealth,netDebtEquity,currentRatio,quickRatio,interestCoverage,netDebtEBITDA
0,Food Products,None,None,None,None,VNM,4.8,4,5,5,5,5

#### üí≤ Valuation Rating

In [44]:
valuation_rating("VNM")

      industryEn ticker  valuation  pe  pb  ps  evebitda  dividendRate
0  Food Products    VNM        1.4   1   1   1         1             4

#### üí≥ Industry Financial Health

In [45]:
industry_financial_health("VNM")

,industryEn,loanDeposit,badLoanGrossLoan,badLoanAsset,provisionBadLoan,ticker,financialHealth,netDebtEquity,currentRatio,quickRatio,interestCoverage,netDebtEBITDA
0,None,None,None,None,None,VNM,3.4,4,3,3,3,3

## üîé Stock Filter

In [46]:
params = {
            "exchangeName": "HOSE,HNX,UPCOM",
            "marketCap": (100, 1000),
            "dividendYield": (5, 10)
        }

# √Åp d·ª•ng b·ªô l·ªçc v·ªõi h√†m ƒë·ªÉ l·∫•y k·∫øt qu·∫£

df = stock_screening_insights (params, size=1700, drop_lang='vi')
df

,ticker,companyName,marketCap,roe,stockRating,businessOperation,businessModel,financialHealth,alpha,beta,...,hasFinancialReport.en,priceVsSMA100.en,foreignTransaction.en,priceVsSMA5.en,priceVsSma10.en,bollingBandSignal.en,uptrend.en,sarVsMacdHist.en,breakout.en,tcbsRecommend.en
0,AAM,,108,3.9,3.9,2.0,NaN,4.2,0.1,0.5,...,Yes,Price below SMA(100),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,ABT,,423,13.6,4.0,3.0,3.0,4.4,0.0,0.6,...,Yes,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,ACL,,652,3.6,4.0,2.8,3.0,2.4,-0.3,1.2,...,Yes,Price below SMA(100),Buy < Sell,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,BMC,,179,8.3,4.1,2.5,3.5,4.2,0.1,1.3,...,Yes,Price below SMA(100),Buy > Sell,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,BTT,,432,12.3,3.5,2.1,3.0,4.2,-0.1,0.0,...,Yes,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
58,VCC,,188,7.5,3.1,1.4,NaN,2.0,-0.1,0.6,...,Yes,Price above SMA(100),NaN,NaN,NaN,NaN,NaN,Sell signal,NaN,NaN
59,VID,,252,3.5,4.0,2.3,NaN,2.8,0.0,0.3,...,Yes,Price above SMA(100),Buy > Sell,NaN,Price cross below SMA(10),NaN,NaN,NaN,NaN,NaN
60,VNF,,288,-0.7,4.0,1.5,3.1,4.8,-0.5,0.5,...,Yes,Price below SMA(100),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
61,VRG,,598,21.0,3.9,3.6,3.0,4.2,0.0,-0.3,...,Yes,Price above SMA(100),NaN,Price cross above SMA(5),NaN,NaN,NaN,NaN,NaN,NaN
62,WSB,,727,8.5,3.9,1.7,2.8,4.2,0.0,0.3,...,Yes,Price above SMA(100),Buy > Sell,Price cross above SMA(5),NaN,Buy signal,NaN,Buy signal,NaN,NaN

## 2.5. üß∞ Trading Center

#### üî• Intraday Trading Data

In [47]:
stock_intraday_data(symbol='GMD', page_size=1000)

    ticker      time  orderType investorType  volume  averagePrice  orderCount
0      GMD  14:30:00     Buy Up        SHEEP  3000.0       54700.0         2.0
1      GMD  14:29:57  Sell Down        SHEEP  3300.0       53600.0         2.0
2      GMD  14:29:54     Buy Up        SHEEP  2000.0       53700.0         1.0
3      GMD  14:29:52     Buy Up         WOLF  4600.0       53940.0         6.0
4      GMD  14:29:49     Buy Up        SHEEP  3000.0       54700.0         1.0
..     ...       ...        ...          ...     ...           ...         ...
588    GMD  09:18:30  Sell Down        SHEEP   100.0       54100.0         1.0
589    GMD  09:18:12  Sell Down        SHEEP  3300.0       54100.0         5.0
590    GMD  09:16:47  Sell Down        SHEEP  3300.0       54100.0         2.0
591    GMD  09:15:58  Sell Down        SHEEP   300.0       54100.0         1.0
592    GMD  09:15:05     Buy Up        SHEEP   100.0       54000.0         1.0

[593 rows x 7 columns]

## 2.6. üõ° Derivatives

### Derivative matched data

In [ ]:
# Visit `https://livedragon.vdsc.com.vn/all/all.rv`, open `Developer Tools` (F12 or Ctrl + Shift + I) > Navigate to `Network` tab > Choose `Fetch/XHR` > Choose any requests in this tab, find in `Header` > Find `Cookie` > Copy value

cookie = 'YOUR COOKIE VALUE HERE'
derivatives_historical_match (symbol='VN30F2308', date='2023-07-24', cookie=cookie)

# III. üöö Data Export

## DataFrame to Google Sheets

D∆∞·ªõi ƒë√¢y l√† c√°ch xu·∫•t d·ªØ li·ªáu ƒë∆°n gi·∫£n qua Google Sheets, kh√¥ng c·∫ßn c√†i ƒë·∫∑t th√™m th∆∞ vi·ªán n√†o n·∫øu s·ª≠ d·ª•ng Google Colab. Kh√¥ng √°p d·ª•ng v·ªõi c√°c m√¥i tr∆∞·ªùng kh√°c 

This following code apply for export data to Google Sheets from Google Colab only. If you run this code in local machine, it will not work.

In [ ]:
df = listing_companies() # G√°n b·∫•t c·ª© h√†m n√†o cho 1 bi·∫øn ƒë·ªÉ xu·∫•t d·ªØ li·ªáu, v√≠ d·ª• ·ªü ƒë√¢y l√† listing_companies
sheet_file = 'listing_companies' # ƒê·∫∑t t√™n cho file Google Sheets s·∫Ω t·∫°o (n·∫øu t·∫°o m·ªõi, d√πng file c√≥ s·∫µn th√¨ kh√¥ng c·∫ßn)

In [ ]:
from google.colab import auth
auth.authenticate_user()

import gspread
from google.auth import default
from gspread_dataframe import set_with_dataframe

creds, _ = default()
gc = gspread.authorize(creds)from google.colab import auth
auth.authenticate_user()

import gspread
from google.auth import default
from gspread_dataframe import set_with_dataframe

creds, _ = default()
gc = gspread.authorize(creds)

### Update an entire worksheet with a DataFrame.

In [ ]:
sh = gc.create(sheet_file)
worksheet = gc.open(sheet_file).sheet1 # M·ªü sheet m·∫∑c ƒë·ªãnh ƒë·ªÉ xu·∫•t d·ªØ li·ªáu, ch·ªçn 1 trong 3 t√πy ch·ªçn v·ªõi bi·∫øn worksheet, d√πng d√≤ng n√†o b·ªè comment d√≤ng ƒë√≥, v√† comment d√≤ng kh√¥ng c·∫ßn d√πng
# worksheet = sh.add_worksheet(title="listing_companies", rows="1000", cols="20") # T·∫°o sheet m·ªõi ƒë·ªÉ xu·∫•t d·ªØ li·ªáu
# worksheet = gc.open_by_url('https://docs.google.com/spreadsheets/d/1vT6o6U1dHYMdHASZNKPvmzDRhgKTvQXsZ_46CvBOpuI').sheet1  # M·ªü file sheet c√≥ s·∫µn b·∫±ng URL
set_with_dataframe(worksheet, df)

### Update a cell range with a DataFrame

In [ ]:
worksheet = gc.open(sheet_file).sheet1 # M·ªü sheet m·∫∑c ƒë·ªãnh ƒë·ªÉ xu·∫•t d·ªØ li·ªáu, ch·ªçn 1 trong 3 t√πy ch·ªçn v·ªõi bi·∫øn worksheet, d√πng d√≤ng n√†o b·ªè comment d√≤ng ƒë√≥, v√† comment d√≤ng kh√¥ng c·∫ßn d√πng

cell_list = worksheet.range('A1:C2') # Ch·ªçn v√πng d·ªØ li·ªáu tr√™n Google Sheets b·∫°n mu·ªën ch√®n d·ªØ li·ªáu t·ª´ DataFrame
# Update the data in the worksheet

for cell, value in zip(cell_list, df.values.flatten()):
    cell.value = value

worksheet.update_cells(cell_list)